@mixin btn-small {
    width: 112px;
    background-color: $color-two;
    color: $color-four;
    font-size: 19px;
    font-family: $second-font;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32);
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.36;
    text-transform: uppercase;

    &:not(:last-child) {
        margin-right: 60px;
    }

    &:hover {
        color: $color-four;
        transform: translateX(1px);
        box-shadow: none;

    }
}

@mixin btn-middle {
    width: 147px;
    line-height: 34px;
    background-color: $color-two;
    color: $color-four;
    font-size: 22px;
    font-family: $second-font;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32);
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    font-weight: 400;
    padding: 0;

    &:not(:last-child) {
        margin-right: 60px;
    }

    &:hover {
        color: $color-four;
        transform: translateX(1px);
        box-shadow: none;

    }
}

@mixin btn-md {
    @include btn-middle;
    font-size: 29px;

}

@mixin btn-md-blue {
    @include btn-md;
    background-color: $color-four;
    color: $color-two;

    &:hover {
        color: $color-two;
    }
}

@mixin btn-short {
    display: inline-block;
    background-color: $color-two;
    color: $color-four;
    font-family: $second-font;
    font-size: 30px;
    width: 119px;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 41px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32);
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        color: $color-four;
        transform: translateX(1px);
        box-shadow: none
    }
}
@mixin btn-blue {
    background-color: $color-four;
    color: $color-two;
    &:hover {
        color: $color-two;
    }
}
