@mixin input-small {
    appearance: none;
  -webkit-appearance: none;
  min-width: 304px;
  max-width: 100%;
  border: 1px solid $color-four;
  border-radius: 6px;
  height: 43px;
  padding: 15px;
  font-size: 10px;
  font-weight: 500;
box-sizing: border-box;
  font-family: $first-font;
  &::placeholder {
    color: $color-two;
  }
}

@mixin select-small {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid $color-four;
  border-radius: 6px;
  height: 43px;
  min-width: 304px;
  max-width: 100%;
  text-align: left;
  position: relative;
  background-image: url(../img/drop-red.svg);
  background-position: 272px 50%;
  background-repeat: no-repeat;
  color: $color-two;
  padding: 15px;
  font-size: 10px;
  font-weight: 700;
box-sizing: border-box;

  & option {
    color: $color-three;
    width: 100%;
  }

  & option::disabled,
  & option::hidden {
    color: $color-two;

  }
}
