html,
 body {
     height: 100%;
     background-color: #cfd8dc;
     font-family: 'Lato-Light';
     font-size: 18px;
     color: #000000;
     background-image: url("../img/backgroud.png");
     background-repeat: repeat;
 }

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot');
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype'),
    url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg'),
    url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot');
    src: url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype'),
    url('../fonts/Lato-Bold.svg#Lato-Bold') format('svg'),
    url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff'),
    url('../fonts/Lato-Light.ttf') format('truetype'),
    url('../fonts/Lato-Light.svg#Lato-Light') format('svg'),
    url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.woff2') format('woff2'),
    url('../fonts/BebasNeueBold.woff') format('woff'),
    url('../fonts/BebasNeueBold.ttf') format('truetype'),
    url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg'),
    url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBook';
    src: url('../fonts/BebasNeueBook.eot');
    src: url('../fonts/BebasNeueBook.woff2') format('woff2'),
    url('../fonts/BebasNeueBook.woff') format('woff'),
    url('../fonts/BebasNeueBook.ttf') format('truetype'),
    url('../fonts/BebasNeueBook.svg#BebasNeueBook') format('svg'),
    url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.woff2') format('woff2'),
    url('../fonts/BebasNeueRegular.woff') format('woff'),
    url('../fonts/BebasNeueRegular.ttf') format('truetype'),
    url('../fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg'),
    url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}

@media (min-width: 1640px) {
    .info-container {
        width: 1640px;
    }
}

.nav .active {
    font-family: "Lato-Regular";
}

.nav {
    min-height: 84px;
}

.navbar {
    margin: 0;
    /*float:none;*/
    background-color: #ffffff;
    border: none;
}

.navbar-collapse.collapse {
    display: flex !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.navbar-collapse::before {
    display: none;
}

.navbar-collapse::after {
    display: none;

}

.navbar-nav > li > a {
    color: #000 !important;
    padding-top: 47px;
    text-transform: uppercase;
}

.navbar-nav > li > a:hover {
    font-family: "Lato-Regular";
}

.navbar-nav > li.active > a {
    letter-spacing: 1px;
    background: #ec1e79; /* Old browsers */
    background: -moz-linear-gradient(left,  #ec1e79 0%, #3157a9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ec1e79 0%,#3157a9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ec1e79 0%,#3157a9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec1e79', endColorstr='#3157a9',GradientType=1 ); /* IE6-9 */

    background-size:100% 5px;
    background-repeat:no-repeat;
    background-color: transparent !important;
    /*transition: font-size 2.2s ease, font-family 2.2s ease;*/
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.banner img {
    width: 100%;
}

.banner {
    font-family: 'Open Sans', sans-serif;
}

.banner {
    max-width: 100%;
    height: 508px;
}

.banner .text {
    position: absolute;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.35);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 45px;
    font-weight: 300;
    color: #fff;
    font-family: "Open Sans";
    text-transform: uppercase;
    /*padding: 10px;*/
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap !important;
}

.banner .play {
    position: absolute;
    display: inline-block;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 45px;
    font-weight: 300;
    color: #fff;
    font-family: "Open Sans";
    text-transform: uppercase;
    /*padding: 10px;*/
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: rgba(0, 0, 0, 0.6);
}

.navbar-brand > img {
    max-height: -webkit-fill-available;
}

@media (min-width: 768px) {

    .navbar-brand > img {
        max-height: none;
    }
}

@media (min-width: 1200px) {
    .banner {
        background-size: cover;
    }
}

.text.top {
    animation: slide-left-top 2s;
    right: 100px;
    top: 30px;
}

.text.center {
    right: 220px;
    top: 145px;
    animation: slide-left-center 2.5s;
}

.text.bottom {
    right: 0;
    top: 262px;
    animation: slide-left-bottom 3s;
}


@keyframes slide-left-top {
    0% {
        right:3000px;
    }

    100% {
        right: 100px;
    }
}

@keyframes slide-left-center {
    0% {
        right:-3000px;
    }

    100% {
        right: 220px;
    }
}

@keyframes slide-left-bottom {
    0% {
        right:3000px;
    }

    100% {
        right: 0;
    }
}



@media (min-width: 1200px) {

    .navbar-brand > img {
        max-height: none;
    }

    @keyframes slide-left-top {
        0% {
            right:3000px;
        }

        100% {
            right: 100px;
        }
    }

    @keyframes slide-left-center {
        0% {
            right:-3000px;
        }

        100% {
            right: 220px;
        }
    }

    @keyframes slide-left-bottom {
        0% {
            right:3000px;
        }

        100% {
            right: 0;
        }
    }

    .banner .link.play {
        right: 0px;
        top: 385px;
    }
}


@media (min-width: 1650px) {

    @keyframes slide-left-top {
        0% {
            right:3000px;
        }

        100% {
            right: -255px;
        }
    }

    @keyframes slide-left-center {
        0% {
            right:-3000px;
        }

        100% {
            right: -120px;
        }
    }

    @keyframes slide-left-bottom {
        0% {
            right:3000px;
        }

        100% {
            right: -255px;
        }
    }
}

.custom-btn{
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.banner .link.play {
    right: 100px;
    top: 385px;
}

.banner .img-text {
    position: relative;
}

.search .search-btn {
    border: none;
    background-color: transparent;
}

.search {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-left: 28px;
    margin-right: 28px;
    background-color: #ebebeb;
}

.wrap > .container {
    padding: 44px 15px 20px;
}

.search input.form-control {
    width: 100%;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.search .form-group:nth-child(1) {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.category-item-list {
    margin-top: 30px;
}

.category-item-list .row > div {
    margin-bottom: 64px;
}

/*
.category-item-list .row > div:nth-child(1) {
    margin-bottom: 30px;
    height: 40px;
}

.category-item-list .row > div:nth-child(2) {
    margin-bottom: 30px;
    height: 40px;
}

.category-item-list .row > div:nth-child(3) {
    margin-bottom: 30px;
    height: 40px;
}*/

.bonus-list > div:nth-child(3n-5),
.category-item-list .row > div:nth-child(3n-5) {
    /*margin-left: -15px;*/
    /*padding-right: 31px;*/
}

.bonus-list > div:nth-child(3n-4),
.category-item-list .row > div:nth-child(3n-4) {
    padding-left: 15.5px;
    padding-right: 15.5px;
}

.bonus-list > div:nth-child(3n-3),
.category-item-list .row > div:nth-child(3n-3) {
    padding-left: 31px;
    margin-right: -15px;
}

.bonus-list > div:nth-child(3n-5) {
    /*margin-left: -15px;*/
    padding-left: 35px;
    padding-right: 35px;
}

.bonus-list > div:nth-child(3n-4) {
    padding-left: 35px;
    padding-right: 35px;
}

.bonus-list > div:nth-child(3n-3) {
    padding-left: 35px;
    margin-right: 35px;
}

.info-item-list > div:nth-child(3n-5) {
    padding-left: 0;
    padding-right: 34px;
}

.info-item-list > div:nth-child(3n-4) {
    padding-left: 17px;
    padding-right: 17px;
}

.info-item-list > div:nth-child(3n-3) {
    padding-left: 34px;
    padding-right: 0;
}

.category-item {
    margin-bottom: 35px;
}

.category-item a {
    border-radius: 3px;
    text-decoration: none;
}

.category-item.gold {
    background: #d4b037; /* Old browsers */
    background: -moz-linear-gradient(top, #d4b037 20%, #e2cc51 50%, #d4b037 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d4b037 20%, #e2cc51 50%, #d4b037 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d4b037 20%, #e2cc51 50%, #d4b037 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4b037', endColorstr='#d4b037', GradientType=0); /* IE6-9 */
}

.category-item.silver {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1c0c1+0,ffffff+50,c1c0c1+100,c1c0c1+100 */
    background: #c1c0c1; /* Old browsers */
    background: -moz-linear-gradient(top, #c1c0c1 20%, #ffffff 50%, #c1c0c1 80%, #c1c0c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c1c0c1 20%, #ffffff 50%, #c1c0c1 80%, #c1c0c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c1c0c1 20%, #ffffff 50%, #c1c0c1 80%, #c1c0c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1c0c1', endColorstr='#c1c0c1', GradientType=0); /* IE6-9 */
}

.category-item.bronze {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a65d13+0,ffd3b6+50,a65d13+100 */
    background: #a65d13; /* Old browsers */
    background: -moz-linear-gradient(top, #a65d13 20%, #ffd3b6 50%, #a65d13 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a65d13 20%, #ffd3b6 50%, #a65d13 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a65d13 20%, #ffd3b6 50%, #a65d13 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a65d13', endColorstr='#a65d13', GradientType=0); /* IE6-9 */

}

.category-item .item-padding {
    padding: 7px;
    overflow: hidden;
    position: relative;
}

.category-item .item-content {
    color: #fff;
    background-color: #000;
    min-height: 236px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    font-family: "Ubuntu";
    font-weight: 200;
}

.category-item .item-content h2 {
    font-family: "Ubuntu";
    font-weight: 200;
}

.item-content .title {
    padding-bottom: 10px;
}

.lato-regular {
    font-family: "Lato-Regular";
}

.item-content .icon, .bonus-modal .navbar-brand img, .review-modal .navbar-brand img{
    margin-top: 14px;
    height: 64px;
    width: 64px;
    border-radius: 100%;
}

.item-content {
    overflow: hidden;
    position: relative;
}

.item-content .rating {
    margin-bottom: 28px;
}

h2, h3, h4, h1 {
    margin: 0;
}

.category-item .item-content * {
    transition: visibility 0.5s, filter 0.5s, opacity 0.5s linear;
    z-index: 99999;
}

.category-item:hover .item-content .title,
.category-item:hover .item-content .icon,
.category-item:hover .item-content .rating {
    visibility: hidden;
    opacity: 0;
}

.item-content .screen{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(40px) saturate(2);
    z-index: 40;
}

.category-item:hover .item-content .screen {
    visibility: visible;
    opacity: 1;
    filter: none;
}

.info-item {
    /*background-color: #eceff1;*/
    /*border: 2px solid #78909c;*/
    /*padding: 22px;*/
    /*padding-bottom: 9px;*/
    /*padding-top: 14px;*/
    /*display: -webkit-box;*/
    /*display: -moz-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-flex-direction: column;*/
    /*-ms-flex-direction: column;*/
    /*flex-direction: column;*/
    /*-webkit-align-items: stretch;*/
    /*-moz-align-items: stretch;*/
    /*-ms-align-items: stretch;*/
    /*align-items: stretch;*/
    /*min-height: 350px;*/
}

.info-item .padding > div {
    flex: 1;
}

.info-item .padding,.review-item .padding{
    background-color: #eceff1;
    /*border: 2px solid #78909c;*/
    padding: 22px;
    padding-bottom: 9px;
    padding-top: 14px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    min-height: 350px;
}

.info-item .border,.review-item .border {
    padding: 7px;
}

.info-item.gold .border, .review-item.gold .border{
    background: #d4b037; /* Old browsers */
    background: -moz-linear-gradient(top, #d4b037 20%, #e2cc51 50%, #d4b037 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d4b037 20%, #e2cc51 50%, #d4b037 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d4b037 20%, #e2cc51 50%, #d4b037 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4b037', endColorstr='#d4b037', GradientType=0); /* IE6-9 */
}

.info-item.silver .border, .review-item.silver .border{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1c0c1+0,ffffff+50,c1c0c1+100,c1c0c1+100 */
    background: #c1c0c1; /* Old browsers */
    background: -moz-linear-gradient(top, #c1c0c1 20%, #ffffff 50%, #c1c0c1 80%, #c1c0c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c1c0c1 20%, #ffffff 50%, #c1c0c1 80%, #c1c0c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c1c0c1 20%, #ffffff 50%, #c1c0c1 80%, #c1c0c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1c0c1', endColorstr='#c1c0c1', GradientType=0); /* IE6-9 */
}

.info-item.bronze .border, .review-item.bronze .border{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a65d13+0,ffd3b6+50,a65d13+100 */
    background: #a65d13; /* Old browsers */
    background: -moz-linear-gradient(top, #a65d13 20%, #ffd3b6 50%, #a65d13 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a65d13 20%, #ffd3b6 50%, #a65d13 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a65d13 20%, #ffd3b6 50%, #a65d13 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a65d13', endColorstr='#a65d13', GradientType=0); /* IE6-9 */
}

.info-item .games, .info-item .payments {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    /*margin-right: -22px;*/
    /*margin-left: -22px;*/
}

.info-item .games {
    padding-bottom: 26px;
}

.info-item .payments {
    margin-top: 20px;
}

.info-item .games a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 33.3%;
    -ms-flex: 1 33.3%;
    flex: 1 33.3%;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    padding-top: 35px;
}

.info-item .games a img {
    border-radius: 100%;
}

.info-item .games a:nth-child(-n+5) {
    padding-top: 36px;
}

.info-item .payments a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 20%;
    -ms-flex: 1 20%;
    flex: 1 20%;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

.pagination-item a {
    /*background-image: url("../img/croup_46.png");*/
    width: 9px;
    height: 9px;
    display: block;
    border-radius: 100%;
}

.info-item.gold .carousel-indicators li {
    border: 1px solid #d4af38;
}

.info-item.gold .carousel-indicators li.active {
    background: #d4af38 !important;
}

.info-item.silver .carousel-indicators li {
    border: 1px solid #808080;
}

.info-item.silver .carousel-indicators li.active {
    background: #808080 !important;
}

.info-item.bronze .carousel-indicators li {
    border: 1px solid #b56a1c;
}

.info-item.bronze .carousel-indicators li.active {
    background: #b56a1c !important;
}

.pagination-item {
    display: inline-block
}

.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pagination-block {
    margin-top: 7px;
    text-align: center;
}

.custom-btn:hover {
    text-decoration: none;
}

.custom-btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    transition: color 0.2s, border 0.2s, background-color 0.2s linear;
    text-decoration: none;
    font-size: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
    text-align: center;
}

.btn-white {
    border: 1px solid #000;
    color: #000 !important;
}

.info-item.gold .btn-white:hover {
    border: 1px solid #d4af37;
    background-color: #d4af37;
}

.info-item.silver .btn-white:hover {
    border: 1px solid #a1a1a1;
    background-color: #a1a1a1;
}

.info-item.bronze .btn-white:hover {
    border: 1px solid #d18336;
    background-color: #d18336;
}

.info-item h2 {
    text-align: center;
}

.info-item .rating-bar {
    margin-top: 14px;
    margin-bottom: 28px;
    height: 34px;
    border-radius: 4px;
    overflow: hidden;
}

.info-item .info-button-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}

.center-button-container {
    margin-top: 21px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

.info-item .rating {
    float: left;
    height: 34px;
}

.info-item .rating.rating-left {
    width: 100%;
    -webkit-animation: fillWidth 1.5s; /* Safari 4.0 - 8.0 */
    animation: fillWidth 1.5s;

}

.info-item.gold .rating.rating-left {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(212, 175, 55);
    background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(212, 175, 55);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(212, 175, 55);
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 50px 50px;
    background-size: 30px 30px;
}

.info-item.gold .rating.rating-right, .info-item.gold .rating-bar {
    background-color: #efd89e;
}

.info-item.silver .rating.rating-left {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(161, 161, 161);
    background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(161, 161, 161);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(161, 161, 161);
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 50px 50px;
    background-size: 30px 30px;
}

.info-item.silver .rating.rating-right, .info-item.silver .rating-bar {
    background-color: #cccccc;
}

.info-item.bronze .rating.rating-left {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(209, 131, 54);
    background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(209, 131, 54);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(209, 131, 54);
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 50px 50px;
    background-size: 30px 30px;
}

.info-item.bronze .rating.rating-right, .info-item.bronze .rating-bar {
    background-color: #e5b189;
}

.proofits .cash {
    width: 121px;
    height: 121px;
    margin-top: 14px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
}

.proofits > div > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.proofits {
    margin-bottom: 28px;
    padding-bottom: 5px;
    overflow: hidden;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 10px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

.slider-block {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .navbar-padding-left {
        /*padding-left: 100px;*/
    }
}

.carousel-control.left, .carousel-control.right {
    width: auto;
    background-image: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.carousel-control span {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    display: block;
    width: 45px;
}

.carousel-control.left span {
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.carousel-control.right span {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.banner .rating-box {
    position: absolute;
    left: 0;
    top: 373px;
}

.banner .rating-box .rating {
    font-size: 45px;
    border-radius: 100%;
    width: 103px;
    height: 103px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    left: 0;
    top: 373px;
}

/*.banner .rating-box .rating {*/
/*position: relative;*/
/*border: 4px solid transparent;*/
/*border-radius: 100%;*/
/*background-color: rgba(0, 0, 0, 0.6);*/
/*background-clip: padding-box;*/
/*padding: 30px;*/
/*/!* just to show box-shadow still works fine *!/*/
/*z-index: 1;*/
/*}*/

/*.banner .rating-box .rating::after {*/
/*position: absolute;*/
/*top: -4px; bottom: -4px;*/
/*left: -4px; right: -4px;*/
/*background: linear-gradient(red, blue);*/
/*content: '';*/
/*z-index: -1;*/
/*border-radius: 100%;*/
/*}*/

.banner .rating.gold {
    background-image: url("../img/gold-circle.png");
    color: #ddc047;
}

.banner .rating.silver {
    background-image: url("../img/silver-circle.png");
    color: #e0e0e0;
}

.banner .rating.bronze {
    background-image: url("../img/bronze-circle.png");
    color: #b56a1c;
}

.onoffswitch {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    width: 55px;
    bottom: 15px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #c61967;
    border-radius: 20px;
    height: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 12px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#059b8c+0,5bf5d2+99 */
    background: #059b8c; /* Old browsers */
    background: -moz-linear-gradient(top, #059b8c 0%, #5bf5d2 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #059b8c 0%, #5bf5d2 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #059b8c 0%, #5bf5d2 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#059b8c', endColorstr='#5bf5d2', GradientType=0); /* IE6-9 */

    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c61967+0,fa76a4+100 */
    background: #c61967; /* Old browsers */
    background: -moz-linear-gradient(top, #c61967 0%, #fa76a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c61967 0%, #fa76a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c61967 0%, #fa76a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c61967', endColorstr='#fa76a4', GradientType=0); /* IE6-9 */

    color: #ffffff;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0px;
    background: #d9d9d9;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 35px;
    border: 1px solid #d6367a;
    border-radius: 100%;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-label {
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    border: 1px solid #22b5a1;

}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #d9d9d9;
    border: 1px solid #22b5a1;
}

.triangle {
    width: 175px;
    height: 90px;
    background-color: #f00;
    position: absolute;
    bottom: -23px;
    right: -60px;
    text-align: center;
    transform: rotate(-45deg);
    z-index: 999999999;
    color: #fff;
    font-size: 24px;
    transition: visibility 0.1s, opacity 0.1s, color 0.5s linear;
    padding-top: 10px;

    font-family: Lato-Regular;
    color: #fff;
    /*font-weight: 500;*/
}

.triangle.gold:hover  img{
    content: url("../img/more-gold.png");
}


.triangle.gold {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(212, 175, 55);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(212, 175, 55);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(212, 175, 55);
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
}

.triangle.silver:hover img{
    content: url("../img/more-silver.png");
}


.triangle.silver {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(161, 161, 161);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(161, 161, 161);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(161, 161, 161);
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
}

.triangle.bronze:hover img{
    content: url("../img/more-bronze.png");
}

.triangle.bronze {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(209, 131, 54);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(209, 131, 54);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 0), rgb(209, 131, 54);
    background-position: auto auto;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 50px 50px;
    background-size: 50px 50px;
}

/** ANIMATIONS **/

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fillWidth {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes fillWidth {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

.info-item.gold .proofits .cash path{
    stroke: #d4af37;
}

.info-item.silver .proofits .cash path{
    stroke: #a1a1a1;
}

.info-item.bronze .proofits .cash path {
    stroke: #dd8c45;
}

.info-item .cash svg {
    position: absolute;
}

.info-item .cash path {
    stroke-linecap: round;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1;
    animation: dash 5s;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 1;
    }
}

/** END **/

.bonus-block {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
}

.bonus-block .bonus-text {
    border: 2px solid;
    height: 40px;
    flex: 1;
    background-color: #ebebeb;
    padding: 5px;
    padding-left: 20px;
}

.bonus-block.gold .bonus-text {
    border-color: #d4af37;
}

.bonus-block.silver .bonus-text {
    border-color: #a1a1a1;
}

.bonus-block.bronze .bonus-text {
    border-color: #d18336;
}

.bonus-block.gold.active .bonus-text {
    border-color: #e2bf6f;
}

.bonus-block.silver.active .bonus-text {
    border-color: #c1c1c1;
}

.bonus-block.bronze.active .bonus-text {
    border-color: #e89a54;
}

.bonus-block .bonus-button {
    background-repeat: no-repeat;
    background-position: right;
    height: 40px;
    width: 84px;
    border: none;
    background-color: #fff;
    color: #fff;
}

.bonus-block.gold .bonus-button {
    background-color: #d4af37;
}

.bonus-block.silver .bonus-button {
    background-color: #a1a1a1;
}

.bonus-block.bronze .bonus-button {
    background-color: #d18336;
}

.bonus-block.gold .inset-border {
    background-image: url("../img/inset-border-gold.png");
    height: 40px;
    width: 9px;
    display: inline-block;
}

.bonus-block.silver .inset-border {
    background-image: url("../img/inset-border-silver.png");
    height: 40px;
    width: 9px;
    display: inline-block;
}

.bonus-block.bronze .inset-border {
    background-image: url("../img/inset-border-bronze.png");
    height: 40px;
    width: 9px;
    display: inline-block;
}

.bonus-block.gold.active .inset-border {
    background-image: url("../img/inset-border-gold-active.png");
    height: 40px;
    width: 9px;
    display: inline-block;
}

.bonus-block.silver.active .inset-border {
    background-image: url("../img/inset-border-silver-active.png");
    height: 40px;
    width: 9px;
    display: inline-block;
}

.bonus-block.bronze.active .inset-border {
    background-image: url("../img/inset-border-bronze-active.png");
    height: 40px;
    width: 9px;
    display: inline-block;
}

.bonus-block.gold.active .bonus-button {
    color: #69540f;
    background-color: #e2bf6f;
}

.bonus-block.silver.active .bonus-button {
    color: #464646;
    background-color: #c1c1c1;
}

.bonus-block.bronze.active .bonus-button {
    color: #532d06;
    background-color: #e89a54;
}

.bonus-list h2 {
    margin-bottom: 30px;
}

@media (min-width: 1200px) {

    .navbar-brand > img {
        max-height: none;
    }

    .banner .text.top {
        right: 100px;
    }

    .banner .text.center {
        right: 220px;
    }

    .banner .text.bottom {
        right: 0;
    }

    .banner .link.play {
        right: 0px;
        top: 385px;
    }
}

@media (min-width: 1650px) {
    .banner .text.top {
        right: -255px;
    }

    .banner .text.center {
        right: -120px;
    }

    .banner .text.bottom {
        right: -255px;
    }

}

@media (min-width: 1200px) {
    .info-item .payments a {
        -webkit-flex: 1 33.3%;
        -ms-flex: 1 33.3%;
        flex: 1 33.3%;
        margin-bottom: 10px;
    }

    .info-item .games a {
        -webkit-flex: 1 33.3%;
        -ms-flex: 1 33.3%;
        flex: 1 33.3%;
    }
}

@media (min-width: 1400px) {
    .info-item .games a {
        -webkit-flex: 1 20%;
        -ms-flex: 1 20%;
        flex: 1 20%;
    }

    .info-item .payments a {
        -webkit-flex: 1 20%;
        -ms-flex: 1 20%;
        flex: 1 20%;
        margin-bottom: 10px;
    }
    .custom-btn{
        width: 100px;
    }
}


@media (min-width: 1650px) {
    .custom-btn{
        width: 124px;
    }
}

@media screen and (min-width: 768px) {
    .info-item .carousel-indicators {
        bottom: 0;
        margin-bottom: 0;
    }
}

.info-item .carousel {
    display: flex;
}

.info-item .carousel .carousel-inner {
    display: flex;
    flex: 1;
}

.carousel-inner > .item.next.left, .carousel-inner > .item.prev.right, .carousel-inner > .item.active {
    flex: 1;
}

.carousel-inner > .item {
    flex: 1;
}

#userModal .button-form-group{
    display: flex;
}

#userModal .form-control{
    border-radius: 2px;
    border: none !important;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
    margin-top: 20px;
    margin-bottom: 30px;
}
#userModal .form-group .btn {
    flex: 1;
}

.btn-login {
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    background-color: #009688;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
    text-transform: uppercase;
}

#userModal .modal-body h5{
    margin-top: -15px;
    margin-bottom: 15px;
}


/*.banner .text{*/
/*cursor: default;*/
/*}*/

.banner .play{
    cursor: pointer;
}

.default-modal .modal-content,.modal-dialog .modal-content{
    border-radius: 0;
}

.default-modal .modal-dialog,.modal-dialog .modal-content{
    margin-top: 150px;
}

.default-modal .navbar{
    padding-left:20px;
    padding-right: 20px;
}

.default-modal .modal-dialog {
    width: 660px;
}

.default-modal .navbar-brand{
    height: auto;
}
.default-modal .navbar-nav > li > a {
    padding-top: 43px;
}

.default-modal .modal-body .col-xs-12 {
    padding-left: 30px;
    padding-right: 30px;
}

.default-modal .modal-dialog .modal-footer h5{
    margin: 0;
    text-align: center;
}

.default-modal .modal-body {
    background-image: url("../img/backgroud.png");
}

.default-modal .modal-header{
    padding: 0;
}

.default-modal .close:hover{

    opacity:1;
}

.default-modal .close{
    position: absolute;
    right: 10px;
    top: 10px;
    text-transform: uppercase;
    font-size: 30px;
    width: 16px;
    height: 16px;
    overflow: hidden;
    line-height: 1px;
    z-index: 1090;
    color: #707070;
    opacity:0.7;
}

.btn-login:hover{
    color: #fff;
}

.bonus-modal .modal-dialog {
    width: 290px;
}
.bonus-modal .modal-dialog ul h4,
.bonus-modal .modal-dialog ul h6{
    font-family: "Open Sans";
    text-transform: uppercase;
}


.bonus-modal .nav {
    min-height: auto;
}
.bonus-modal .navbar-brand,.review-modal .navbar-brand {
    padding: 0;
    height: auto;
}

.bonus-modal .navbar-brand img,
.review-modal .navbar-brand img {
    margin-top: 0;
}


.bonus-modal .modal-body {
    background: #ebebeb;
}

.bonus-modal .modal-header {
    padding:9px;
}

.review-modal .modal-header nav ,
.bonus-modal .modal-header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bonus-modal .modal-header .collapse.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bonus-modal .modal-header nav:before,.bonus-modal .modal-header nav:after,
.review-modal .modal-header nav:before,.review-modal .modal-header nav:after,
.bonus-modal .modal-header .navbar-header:before,.bonus-modal .modal-header .navbar-header:after,
.review-modal .modal-header .navbar-header:before,.review-modal .modal-header .navbar-header:after{
    display: none !important;
}

.bonus-modal .modal-header .collapse.navbar-collapse,
.review-modal .modal-header .collapse.navbar-collapse{
    flex:1;
}
.bonus-modal .modal-footer {
    padding: 20px;
}
.bonus-modal .modal-body .bonus-block{
    margin-bottom: 0;
    flex-direction: column;
}
.bonus-modal .modal-body p{
    font-family: "Open Sans";
    font-size: 14px;
}
.bonus-modal .modal-header ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.review-item .review-rating{
    width: 57px;
    height:57px;
    background-image: url("../img/rivew-rating-bronze.png");
    text-align: center;
    line-height: 57px;
    font-size: 25px;
    font-family: Lato-Regular;
    position: absolute;
    right: -2px;
    bottom: 3px;
}

.review-item.gold .review-rating{
    background-image: url("../img/rivew-rating-gold.png");
    color: #d7b43b;
}

.review-item.silver .review-rating{
    background-image: url("../img/rivew-rating-silver.png");
    color: #cccccc;
}

.review-item.bronze .review-rating{
    background-image: url("../img/rivew-rating-bronze.png");
    color: #dd9b6a;
}

.review-item .review-content p {
    word-wrap: break-word;
    word-break: break-all;
}

.review-item .review-content h3{
    font-family: Lato-Regular;
}

.review-item .review-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.review-modal .review-block .response-input label{
    font-size: 11px;
    font-family: Lato-Regular;
    color: #959595;
}

.review-modal .review-block .response-input textarea{
    font-size: 11px;
    font-family: Lato-Regular;
    min-height: 150px;
    width:100%;
    background-color: #ebebeb;
    border: 0;
    color: #000;
    resize: none;
    outline: none;
    overflow: hidden;
}
.review-modal .review-block .response-input{
    background-color: #ebebeb;
    border:1px solid #a1a1a1;
    display: flex;
    flex-direction: column;
    padding: 7px;
}
.review-modal .modal-body{
    background-image: url("../img/review-background.png");
    padding: 15px 30px 15px 30px;
}

.review-modal .rating {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.review-modal .rating .rating-starts{
    flex: 1 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.review-modal .rating .btn-login{
    flex: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.review-modal .modal-header .collapse.navbar-collapse{
    padding-left: 20px;
}

.review-modal .modal-dialog{
    width: 350px;
}

.list-view{
    overflow: auto;
}

.rating .empty-stars i{
    background-image: url("../img/review-star.png");
}
.review-block .rating {
    font-size: 1px;
}
.rating-container .empty-stars i,
.rating-container .filled-stars i{
    width: 34px;
    height: 34px;
    display: block;
}

.rating-container .filled-stars i{
    background-image: url("../img/review-star-bronze.png");
}

.rating-container.bronze .filled-stars i{
    background-image: url("../img/review-star-bronze.png");
}

.rating-container.silver .filled-stars i{
    background-image: url("../img/review-star-silver.png");
}

.rating-container.gold .filled-stars i{
    background-image: url("../img/review-star-gold.png");
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.custom-btn-lg {
    width: 180px;
}

#resetModal .site-reset h3{
    text-align: center;
}

#resetModal .site-reset h5{
    text-align: center;
    text-transform: uppercase;
}
#resetModal .modal-dialog{
    width: 350px;
}