@import "vars";
@import "_mixins/btn";
@import "_mixins/input";

@media (max-width: 1119.98px) {
    .container {
        width: 100%;
        max-width: 414px;
        overflow: hidden;
        box-sizing: border-box;
    }

    .desktop {
        display: none !important;
    }

    .mobile {
        display: block;
    }

    body {
        font-size: 14px;
    }

    section {
        background-size: cover;
    }

    h2 {
        font-size: 28px;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .header {
        margin-bottom: 0;

        .container {
            padding: 0 20px;
            width: 414px;
            justify-content: space-between;
            position: relative;
            align-items: center;
            max-width: 100%;
            box-sizing: border-box;
        }

        &-title {
            padding-left: 52px;
            font-size: 25px;
            line-height: 47px;
        }

        &-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            z-index: -1;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;

            &--visible {
                position: fixed;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        &-wrapper {}
        &-link {
            width: 134px;
        }
        &-nav {
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 0;
            overflow: hidden;

            &-item {
                width: 218px;
                line-height: 40px;
                font-size: 26px;
                text-align: left;
                padding-left: 24px;
                box-sizing: border-box;

                &:hover:before {
                    width: 80%;
                    left: 0%;
                    display: none;
                }

                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    border: 12px solid transparent;
                    border-left: 12px solid $color-one;
                    top: calc(50% - 12px);
                    right: 10px;
                }
            }

            &-item.active {
                &:before {
                    display: none;
                }
            }

        }
      &-category {
        display: block;
        position: absolute;
        z-index: 1;
        width: 260px;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(171px);
        transition:all 0.3s;
          .header-nav-item {
              transform: translateX(200px);
              transition:all 0.3s;
          }
        &.active {
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: #fff;
            transform: translateX(0px);

            .header-nav-item {
                transform: translateX(0px);
                color: $color-two;
                padding-left: 37px;
                &:after {
                    display: none;
                }
                &:first-child:after {
                    content: '';
                    display: block;
                    position: absolute;
                    border: 12px solid transparent;
                    border-right: 12px solid $color-one;
                    top: calc(50% - 12px);
                    right: calc(100% - 24px);
                }
                &:first-child:before {
                    content: '';
                    position: absolute;
                    background-color: $color-one;
                    border-radius: 0px;
                    top: 100%;
                    left: 0px;
                    height: 1px;
                    width: 100%;
                }
                &.active {
                    color: $color-three;
                }

                .header-link {
                    width: 100%;
                    z-index: 3;
                }
            }
        }
      }

        &-middle {
            flex-direction: column;
            position: fixed;
            background-color: #fff;
            z-index: 1;
            top: 0;
            padding-top: 60px;
            left: -100vw;
            transition: all 0.3s;
            animation: ease-out;
            height: 100%;
            width: 218px;
            &--visible {
                left: 0;
            }
        }

        &-end {
            width: 176px;
            flex-direction: row;
            font-size: 25px;
            line-height: 47px;
            justify-content: space-between;
        }

        &-language {
            width: 25px;
            height: 25px;
            background-size: 100%;
            align-self: center;
        }

        &-menu {
            width: 50%;
            //            margin-top: 10px;
            //            margin-bottom: 10px;
        }

        &-link:hover,
        &-link--active {
            color: $color-three;

            &:before {
                display: none;
            }
        }

        &-btn {
            margin-top: 0;
            font-size: 0;
            line-height: 0;
        }

    }

    .toggler {
        position: fixed;
        z-index: 3;
        top: 9px;
        left: 20px;
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        line-height: 3em;
        user-select: none;
        //        border: 1px solid $color-three;
        border-radius: 5px;
        background-color: #fff;
        background-image: url(../img/list.svg);
        background-repeat: no-repeat;
        background-position: center center;
        box-sizing: border-box;

        span {
            margin-left: 26%;
            display: inline-block;
            vertical-align: bottom;
            width: 15px;
            height: 2px;
            background: $color-three;
            position: relative;
            transition: background .3s .3s;
            opacity: 0;

            &:before,
            &:after {
                opacity: 0;
                width: 100%;
                height: 2px;
                background: $color-three;
                position: absolute;
                left: 0;
                content: '';
                transform-origin: 50% 50%;
                transition: top .3s .3s, transform .3s;
            }

            &:before {
                top: 0.5rem;
            }

            &:after {
                top: -0.5rem;
            }
        }

        &--close {
            background: none;

            > span {
                transition: background .3s 0;
                background: transparent;
                opacity: 1;

                &:before,
                &:after {
                    transition: top .3s, transform .3s .3s;
                    top: 0;
                    opacity: 1;
                }

                &:before {
                    transform: rotate3d(0, 0, 1, 45deg);
                }

                &:after {
                    transform: rotate3d(0, 0, 1, -45deg);
                }
            }
        }
    }

    .first {
        padding: 40px 0;

        &:before {
            content: '';
            position: absolute;
            width: 1280px;
            max-width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .container {
            flex-direction: column;
        }

        &-title {
            font-size: 50px;
        }

        &-subtitle {
            font-size: 40px;
            margin-bottom: 10px;
        }

        &-left {
            width: 100%;
        }

        &-text {
            margin-bottom: 20px;
        }
    }

    .second {
        &-title {
            font-size: 50px;
        }
    }

    .third {
        padding: 40px 0;

        &-title {
            font-size: 50px;
        }

        &-subtitle {
            font-size: 24px;
            margin-bottom: 20px;
        }

        &-text {
            padding-bottom: 0;
        }
    }

    .fourth {
        padding: 40px 0;

        &-list {
            flex-direction: column;
            justify-content: center;
        }

        &-item {
            width: 360px;
        }

        &-img {
            margin: 0 auto 33px;
        }

        &-text {
            margin: 0 auto;
        }
    }

    .fifth {
        .container {}

        .first-left {
            width: 100%;
        }
    }

    .form {
        padding: 30px 20px;

        &-select {
            margin-right: 1%;
            //min-width: 30%;
        }
    }

    /*main page start*/
    .available-bonuses {
        .logo-rate {
            width: 26px;
            height: 26px;
            font-size: 16px;
            line-height: 26px;
            bottom: -13px;
            right: -13px;
        }
        .casino-info {
            width: 160px;
        }

        .casino-offer {
            min-width: auto;
        }
    }

    /*main page end */
    /*casinos page */
    .left-column {
        order: 1;
    }

    .right-column {
        order: 0;
    }

    .cashback-search {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
    }

    .cashback-menu-wrap {
        display: none;
    }

    .crouperica-choice-top {
        &:before {
            display: none;
        }
    }

    .cashback {
        &-info {
            padding: 15px 20px;
        }

        &-title {
            font-size: 25px;
            margin-top: 12px;
            margin-bottom: 0;
        }

        &-info-text {
            font-size: 8px;
        }
    }

    .sidebar {
        &-menu-inner {
            display: none;
        }
    }

    .two-columns > .row {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .croupierica-choice {
        &-wrap {
            order: 1;
            padding: 25px 15px 15px;
        }

        &-title {
            position: relative;
            top: 0;
            right: 0;
            width: 100%;
            padding: 0;
        }

        &-btn {
            font-size: 19px;
            width: 64px;
            line-height: 1.3;
        }

        &-name {
            flex-grow: 1;
            text-align: left;
            padding-left: 10px;

        }

        &-item {}
    }

    .left-column {
        width: 100%;
    }

    .right-column {
        width: 100%;
    }

    .sidebar {
        &-menu-wrap {
            padding: 15px;
        }

        &-category-title,
        &-menu-title {
            font-size: 21px;

            &:before {
                width: 17px;
            }

            &:after {
                border: 4.5px solid transparent;
                border-top: 4.5px solid $color-four;

            }

            &.active:after {
                border-top: 4.5px solid transparent;
                border-bottom: 4.5px solid $color-four;
            }
        }

        &-menu-title {
            color: $color-four;
            background-color: $color-three;

            &:before,
            &:after {
                display: none;
            }
        }
    }

    .casino {
        &-item {
            padding: 15px 20px;
            margin-bottom: 15px;

        }

        &-img {
            max-width: 100%;
            max-height: 100%;
        }

        &-text {
            display: none;
        }

        &-link {
            width: 73px;
            font-size: 17px;
            line-height: 1.47;
        }

        &-info {
            width: 160px;
        }
        &-icons {
            //width: 154px;
        }
        &-title {
            font-size: 30px;
        }

        &-links {
            padding: 0;
            height: 66px;
        }
    }

    .slides {
        margin-bottom: 38px;
        &:before {
            width: 94%;
            left: 3%;
        }
    }

    .slider {
        &-title {
            font-size: 25px;
        }

        &-item {
            margin-right: 124px;
            margin-left: 124px;
            padding: 14px;
        }

        &-image {
            width: 75px;
            height: 47px;
        }

        &-center {
            margin-bottom: 16px;
        }

        &-link {
            @include btn-small;
            @include btn-blue;
            width: 73px;
            font-size: 17px;
            line-height: 25px;
        }
    }

    .logo {

        width: 62px;
        height: 62px;

        & a {
            width: 62px;
            height: 62px;
            display: inline-block;
            text-align: center;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: $color-three;
        }

        &-rate {
            width: 26px;
            height: 26px;
            font-size: 16px;
            line-height: 26px;
            bottom: -13px;
            right: -13px;
        }
        .mobile {
            display: flex;
        }
    }

    .left-column-content {
        padding: 25px 0 0 0;
    }

    /*casinos page end*/
    /*bonuses start*/
    .casino-modal {
        padding: 40px 20px;
        border: 10px solid $color-four;

        &-header {
            flex-direction: column;
            margin-bottom: 20px;
        }

        &-right {
            padding-left: 0;
            text-align: center;
        }

        &-title {
            font-size: 50px;

            &-note {
                font-size: 40px;
            }
        }

        &-text {
            font-size: 12px;
        }

        .casino-offer-text {
            font-size: 70px;
            line-height: 1.1;
        }

        .casino-offer-name {
            font-size: 20px;
        }

        .casino-link {
            width: 140px;
            font-size: 40px;
        }

    }

    .main-modal .button-wrap {
        margin-top: 20px;
    }

    .main-modal button.close {
        top: 20px;
        right: 20px;
        font-size: 30px;
    }

    .casino-item {
        .casino {

            &-img {
                width: 62px;
            }

            &-title {
                font-size: 21px;
            }

            &-subtitle {
                font-size: 13px;
            }

            &-offer {
                &-text {
                    font-size: 47px;
                }

                &-name {
                    font-size: 8px;
                }
            }
        }

        .logo {
            width: 62px;
            height: 62px;
        }
        &-bonuses {
            .casino-info {
                width: 113px;
            }
        }
    }

    /*bonuses end*/
    /*news blog post start */
    .news-line {

        &-item {
            padding: 15px 25px 20px;
        }

        &-img {
            width: 80px;
            height: 40px;
        }

        &-content {
            margin-left: 14px;
        }

        &-title {
            font-size: 15px;
        }

        &-hash a {
            font-size: 9px;
        }
    }

    /*news blog post end */
    /*news view post start */

    .news-article {
        padding: 16px 22px;

        &-title {
            font-size: 34px;
            line-height: 40px;
        }
        .news-hash {
            margin-bottom: 9px;
            font-size: 10px;
        }
        .news-date {
            font-size: 9px;
            margin-bottom: 9px;
        }
        p {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 1.5em;
        }

        &-author {
            margin-top: 5px;
        }
    }

    .news {
        &-hash {
            font-size: 10px;
            margin-bottom: 9px;
        }

        &-date {
            font-size: 9px;
            margin-bottom: 9px;
        }
        &-about-title {
        }
    }

    .latest {
        &-title {
            margin-left: 20px;
            font-size: 34px;
        }

        &-news {
            margin-bottom: 5px;

            &-item {
                width: 100%;
                padding: 15px 25px 20px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: flex-start;
                margin-bottom: 10px;
                margin-right: 0;
            }

            &-img {
                width: 80px;
                height: 40px;
                margin: 0 14px 0 0;
            }

            &-title {
                font-size: 15px;
                text-transform: uppercase;
                color: $color-two;
            }

            .news-hash {
                font-size: 9px;
            }
        }

        &-review {
            &-item {
                padding: 7px 15px;
            }

            &-img {
                width: 61px;
                height: 30px;
                align-self: flex-start;
            }

            &-info {
                max-width: 231px;
            }

            &-title {
                font-size: 13px;
            }

            &-text {
                font-size: 8px;
            }

            &-link {
                width: 60px;
                font-size: 17px;
                line-height: 25px;
            }
        }
        &-reviews {
            &--mb {
                margin-bottom: 0;
            }
        }
        &-bonuses {
            .casino-info {
                width: 113px;
            }
        }

    }

    /*news view post end */
    /*casino page start*/
    .info {
        &-wrapper {
            padding: 16px 22px;
        }
        &--child {
            margin-bottom: 20px;
            margin-top: 15px;
        }
        &-top {
            margin-bottom: 23px;
            &--child {
                margin-bottom: 0;
            }
        }
        .logo {
            width: 120px;
            height: 74px;
        }
        &-title {
            font-size: 29px;
            margin-left: 30px;
          &-pre {
            font-size: 20px;
          }
          &-name {
            font-size: 29px;
          }
        }
        &-intro {
            margin-bottom: 0;
        }
        &-text {
            font-size: 12px;
        }
        &-btn {
            font-size: 16px;
            line-height: 25px;
            width: 98px;
            margin-left: -30px;
            align-self: flex-end;
          &--back {
            font-size: 16px;
            line-height: 25px;
            width: 98px;
            margin-left: -50px;
              margin-top: 80px;
            align-self: flex-end;
          }
        }
    }
    .offer {
        margin-bottom: 33px;
        &-wrapper {
            flex-direction: column;
            border: 5px solid $color-four;
            padding: 9px 35px;
        }
        &-phrase {
            margin-right: 0;
            font-size: 40px;
        }
        &-link {
            font-size: 24px;
            line-height: 31px;
            width: 99px;
        }
    }
    .card {
        margin-right: 44px;
        margin-left: 44px;
      padding-bottom: 40px;
        &:nth-child(3n) {
            margin-right: 44px;
        }
        &-title {
            margin-bottom: 30px;
        }
    }
    .slick {
        &-dots {
            bottom: 10px;

            li {
                background-color: $color-two;
                width: 14px;
                height: 12px;
                button {
                    width: 100%;
                    height: 100%;
                }
                button:before {
                    content: '';
                }

            }
            .slick-active {
                background-color: $color-three;
            }
        }
        &-prev {
            left: 37px;
            width: 22px;
            height: 22px;
            &:before {
                border: 11px solid transparent;
                border-top:11px solid $color-four;
            }
        }
        &-next {
            right: 37px;
            width: 22px;
            height: 22px;
            &:before {
                border: 11px solid transparent;
                border-top:11px solid $color-four;
            }
        }
    }
    .casino-view-title {
        padding: 0 23px;
        font-size: 29px;
        margin-bottom: 20px;
    }
    .user-reviews {
        margin-bottom: 0;
    }
    /*casino page end*/
    /*search page start*/
    .casino-item--search .casino-info {
        width: auto;
    }

    .casino-item-bonuses.casino-item--search {
        .casino-info {
            width: auto;
        }
    }

    .search {
        &-form {
            background-image: none;
            padding: 50px 20px;
        }

        &-form-wrap {
            margin-bottom: 10px;
        }

        &-title {
            font-size: 25px;
        }

        &-input {
            padding: 0 10px;
            line-height: 23px;
            font-size: 16px;
        }

        &-btn {
            width: 13px;
            height: 13px;
            right: 9px;
            top: 5px;
        }

        &-list {
            margin-bottom: 15px;
        }

        &-category {
            &-list {
                padding: 13px 20px;
                flex-direction: column;
                background-color: transparent;
            }

            &-title {
                text-transform: uppercase;
            }

            &-item {
                background-image: none;
                border: 1px solid $color-four;
                border-radius: 6px;
                margin-bottom: 5px;
                text-transform: none;
                font-family: $first-font;
                font-size: 12px;
                line-height: 26px;
                padding: 0 0 0 13px;
                background-color: #fff;

                &--active {
                    background-color: $color-three;
                    color: #fff;

                    &:before {
                        display: none;
                    }
                }
            }

        }

        &-results {
            margin-bottom: 0px;

            &-header {
                margin-bottom: 10px;
                padding-left: 15px;
            }

            &-title {
                line-height: 35px;
            }

            &-name {
                font-size: 29px;
            }

            &-amount {
                font-size: 16px;
                margin-left: 13px;

            }
        }
    }

    /*search page end*/
    /*settings page start*/
    .change {
        margin-top: 16px;
        padding: 22px 24px 27px;
        margin-bottom: 17px;

        &-title {
            font-size: 17px;
            margin-bottom: 9px;
        }

        &-subtitle {
            font-size: 9px;
            margin-bottom: 13px;
        }

        &-input {
            line-height: 10px;
            margin-top: 10px;
            font-size: 9px;
            padding: 5px;
        }

        &-btn {
            font-size: 17px;
            line-height: 25px;
            width: 73px;
        }
    }

    .unsub {
        padding: 15px 12px 20px;
        margin-bottom: 30px;

        &-text {
            font-size: 8px;
            margin-bottom: 15px;
        }

        &-input {
            line-height: 19px;
            font-size: 9px;
            padding: 5px;
            width: 264px;
            margin-right: 22px;
        }

        &-bottom {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
        }

        &-btn {
            line-height: 30px;
            font-size: 20px;
            width: 98px;
            border-radius: 8px;
        }
    }

    /*settings page end*/
    /*reviews start*/
    .myreview {
        &-title {
            margin: 24px 17px;
            font-size: 34px;
        }

        &-list {
            padding: 17px 17px;
        }
    }

    .review {
        margin-right: 0;
        width: 100%;
        background-image: none;
        background-color: $color-two;
        height: auto;
        position: relative;
        margin-bottom: 45px;

        &:before {
            position: absolute;
            content: '';
            border-bottom: 14px solid $color-two;
            border-right: 30px solid transparent;
            height: 0;
            width: 190px;
            top: -13px;
            left: 0;
        }

        &:after {
            position: absolute;
            content: '';
            border-top: 14px solid $color-two;
            border-left: 30px solid transparent;
            height: 0;
            width: 190px;
            bottom: -13px;
            right: 00px;
        }

        &-start {
            padding-top: 80px;
            padding-bottom: 80px;
        }

        &-search {
            padding-top: 35px;
            padding-bottom: 65px;

            .form-control {
                padding: 4px 13px;
            }
        }

        &-casino {
            margin-bottom: 10px;
            padding-left: 80px;

            &-list {
                height: 155px;
            }

            &-title {
                font-size: 32px;
            }

            &-img {
                width: 34px;
                margin-right: 39px;
            }

            &--nobg {
                padding-left: 45px;
                padding-right: 40px;
                justify-content: space-between;
                margin: 6px 0;
            }
        }

        &-search-down {
            display: none;
        }

        &-status {
            margin-top: -7px;
            position: relative;
        }

        &-textarea {
            &-item {
                height: 148px;
                padding: 15px 44px;
                font-size: 12px;
            }

            &-btn {
                font-size: 17px;
                line-height: 25px;
                width: 86px;
            }
        }

        &-range {
            height: 13px;

            &-handle {
                font-size: 14px;
                top: calc(50% - 13px);
                line-height: 20px;
                width: 27px;
                height: 27px;
            }

            &-wrapper {
                max-width: 100%;
            }
        }

        &-text {
            font-size: 12px;
            line-height: 1.33;
        }

        &-scroller {
            padding: 15px 26px;
            height: 150px;

        }

        &-more {
            @include btn-short;
            @include btn-blue;
            display: block;
            margin: 30px auto 0;
            box-shadow: none;
            font-size: 17px;
            line-height: 25px;
            width: 73px;
        }

        &-like {
            margin-top: 6px;
            margin-right: 11px;
            margin-bottom: -7px;
            position: relative;
            z-index: 2;
            font-size: 12px;
        }

        &-list {
            .casino-info {
                width: 154px;
            }
        }
    }

    /*reviews end */
    /*error page start*/
    .site-error {
        background-position: 0 0;
        //-webkit-background-size: ;
        background-size: auto 105%;
    }
    .error {
        &-bg {
            &--404 {
                background-position: 135px 250px;
                -webkit-background-size: 42%;
                background-size: 42%;
            }
            &--redirect {
                background-position: 120px 225px;
                -webkit-background-size: 47%;
                background-size: 47%;
            }
            &--403 {
                background-position: 113px 237px;
                -webkit-background-size: 45%;
                background-size: 45%;
            }
            &--500 {
                -webkit-background-size: auto 80%;
                background-size: auto 80%;
                background-position: 10px 0;
            }
        }
        &-wrapper {
            width: 100%;
            margin-right: 0;

            &--404 {
                margin-bottom: 423px;
                margin-top: 18px;
            }
            &--redirect {
                margin-top: 78px;
                margin-bottom: 487px;
            }
            &--403 {
                margin-bottom: 452px;
                margin-top: 29px;
            }
            &--500 {
                margin-top: 157px;
                margin-bottom: 338px;
            }

        }
        &-title {
            &--404 {
                font-size: 92px;
                line-height: 110px;
            }
            &--redirect {
                font-size: 45px;
                line-height: 54px;
            }
            &--403 {
                font-size: 89px;
                line-height: 106px;
                margin-bottom: 0;
            }
            &--500 {
                font-size: 92px;
                line-height: 110px;
            }
        }
        &-subtitle {
            &--404 {
                font-size: 35px;
                line-height: 35px;
            }
            &--403 {
                font-size: 62px;
                line-height: 70px;
                margin-bottom: 6px;
            }
            &--500 {
                font-size: 41px;
                line-height: 49px;
            }
        }
        &-text {
            &--404 {
                font-size: 9px;
                margin-bottom: 18px;
            }
            &--redirect {
                font-size: 22px;
                line-height: 30px;
            }
        }
        &-btn {
            font-size: 26px;
            width: 121px;
            line-height: 34px;
        }
    }
    /*error page end*/
    //    footer start
    .subscribe {
        &-container {
            padding: 20px;
        }

        &-text {
            font-size: 12px;
        }

        &-form {
            border: 1px solid;
            width: 350px;

            &-input {
                font-size: 12px;
                padding: 0 10px;
                line-height: 19px;
                font-family: $first-font;

            }

            &-btn {
                font-size: 14px;
                padding: 0 10px;
                line-height: 19px;
                height: 100%;
            }
        }
    }

    .footer {
        &-wrapper {
            padding: 20px 40px;
            flex-direction: column;
        }

        &-links-wrap {
            width: 100%;
        }
    }

    //footer end
}
