@import "vars";

@media (max-width: 1119.98px) {
    .container {
        width: 100%;
        max-width: 374px;
        padding: 0 20px;
        overflow: hidden;
				box-sizing: border-box;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    body {
        font-size: 14px;
    }

    section {
        background-size: cover;
    }

    h2 {
        font-size: 28px;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .header {
        margin-bottom: 0;
        background: #fff;
        position: relative;
        z-index: 2;
        .container {
            justify-content: space-between;
            position: relative;
            align-items: center;
            box-sizing: border-box;
        }

        &-title {
            padding-left: 52px;
            font-size: 25px;
            line-height: 47px;
        }

        &-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0);
            z-index: 0;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;

            &--visible {
                position: fixed;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }

        &-wrapper {}

        &-nav {
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-top: 0;

            &-item {
                width: 218px;
                line-height: 40px;
                font-size: 26px;
                text-align: left;
                padding-left: 24px;
                box-sizing: border-box;

                &:hover:before {
                    width: 80%;
                    left: 0%;
                    display: none;
                }

                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    border: 12px solid transparent;
                    border-left: 12px solid $color-one;
                    top: calc(50% - 12px);
                    right: 2px;
                }
            }

        }

        &-middle {
            flex-direction: column;
            position: fixed;
            background-color: #fff;
            z-index: 1;
            top: 0;
            padding-top: 60px;
            left: -100vw;
            transition: all 0.3s;
            animation: ease-out;
            height: 100vh;
            width: 218px;
            &--visible {
                left: 0;
            }
        }

        &-end {
            width: 176px;
            flex-direction: row;
            font-size: 25px;
            line-height: 47px;
            justify-content: space-between;
        }

        &-language {
            width: 25px;
            height: 25px;
            background-size: 100%;
            align-self: center;
        }

        &-menu {
            width: 60%;
//            margin-top: 10px;
//            margin-bottom: 10px;
        }
        &-link {
            width: 100%;
            display: inline-block;
        }
        &-link:hover,
        &-link--active {
            color: $color-three;

            &:before {
                display: none;
            }
        }
        &-btn {
            margin-top: 0;
            font-size: 0;
            line-height: 0;
        }

    }

    .toggler {
        position: fixed;
        z-index: 3;
        top: 9px;
        left: 20px;
        display: flex;
        align-items: center;
        width: 30px;
        height: 30px;
        line-height: 3em;
        user-select: none;
//        border: 1px solid $color-three;
        border-radius: 5px;
        background-color: #fff;
        background-image: url(../img/list.svg);
        background-repeat: no-repeat;
        background-position: center center;
        box-sizing: border-box;

        span {
            margin-left: 26%;
            display: inline-block;
            vertical-align: bottom;
            width: 15px;
            height: 2px;
            background: $color-three;
            position: relative;
            transition: background .3s .5s;
            opacity: 0;

            &:before,
            &:after {
                opacity: 0;
                width: 100%;
                height: 2px;
                background: $color-three;
                position: absolute;
                left: 0;
                content: '';
                transform-origin: 50% 50%;
                transition: top .3s .6s, transform .3s;
            }

            &:before {
                top: 0.5rem;
            }

            &:after {
                top: -0.5rem;
            }
        }

        &--close {
            background: none;

            > span {
                transition: background .3s 0;
                background: transparent;
                opacity: 1;

                &:before,
                &:after {
                    transition: top .3s, transform .3s .5s;
                    top: 0;
                    opacity: 1;
                }

                &:before {
                    transform: rotate3d(0, 0, 1, 45deg);
                }

                &:after {
                    transform: rotate3d(0, 0, 1, -45deg);
                }
            }
        }
    }

    .first {
        padding: 40px 0;

        &:before {
            content: '';
            position: absolute;
            width: 1280px;
            max-width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .container {
            flex-direction: column;
        }

        &-title {
            font-size: 50px;
        }

        &-subtitle {
            font-size: 40px;
            margin-bottom: 10px;
        }

        &-left {
            width: 100%;
        }

        &-text {
            margin-bottom: 20px;
        }
    }

    .second {
        &-title {
            font-size: 50px;
        }
    }

    .third {
        padding: 40px 0;

        &-title {
            font-size: 50px;
        }

        &-subtitle {
            font-size: 24px;
            margin-bottom: 20px;
        }

        &-text {
            padding-bottom: 0;
        }
    }

    .fourth {
        padding: 40px 0;

        &-list {
            flex-direction: column;
            justify-content: center;
        }

        &-item {
            width: 360px;
        }

        &-img {
            margin: 0 auto 33px;
        }

        &-text {
            margin: 0 auto;
        }
    }

    .fifth {
        .container {}

        .first-left {
            width: 100%;
        }
    }

    .form {
//        padding: 30px 20px;

        &-select {
            margin-right: 1%;
//            min-width: 30%;
        }

    }
	.footer {
        &-wrapper {
            padding: 20px 40px;
            flex-direction: column;
        }

        &-links-wrap {
            width: 100%;
        }
    }
}
