$first-font: "Campton", sans-serif;
$second-font: "RamaGothicM", sans-serif;
//$third-font: "bettertogether", sans-serif;
$color-one: #77003F;
$color-two: #003471;
$color-three: #0A0031;
$color-four: #B2DEFB;
$color-five: #F2F2F2;
$color-six: #FFC451;
// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 400px, md: 768px, lg: 992px, xl: 1120px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
