.casino-reviews .casino-reviews-item img{
    width: 58px;
    height: 58px;
    border-radius: 100%;
}

.main-menu.navbar-light .navbar-nav .nav-item .nav-link:hover,
.main-menu.navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #ea1e79;
}

.cashback-menu a:hover,
.cashback-menu a.active{
    color: #ea1e79;
}

.sidebar-menu-wrap .sidebar-menu-inner a.active,
.sidebar-menu-wrap .sidebar-menu-inner a:hover{
    color: #ea1e79;
}

.casino-title:hover {
    text-decoration: underline;
    color: #000;
}
.casino-title,.news-content p a{
    color: #000;
}
.news-content p a:hover{
    text-decoration: none;
}

.news-line-text a:hover{
    text-decoration: underline;
    color: #000;
}
.casino-item .casino-about-column p a{
    color: #000;
}

.cashback-wrap.game-bg,
.cashback-wrap.bonuses-bg,
.cashback-wrap.tips-bg,
.cashback-wrap.casino-bg {
    background-repeat: no-repeat;
    background-position: top;
}

.cashback-wrap.casino-bg {
    background-image: url(../img/custom/casino.png);
}
.cashback-wrap.game-bg {
    background-image: url(../img/custom/games.png);
}
.cashback-wrap.bonuses-bg {
    background-image: url(../img/custom/bonuses.png);
}
.cashback-wrap.tips-bg {
    background-image: url(../img/custom/tips.png);
}
.cashback-wrap .cashback-info {
    min-height: 400px;
}
#casino-about h1,#casino-about h2,#casino-about h3,#casino-about h4{
    color: #000;
}
.casino-item.casino-item-one h1{
    font-size: 45px;
    line-height: 1;
    font-weight: 500;
    margin: 0;
    color: #ea1e79;
}

.the-best-slider h4, .slots-item h4 {
    font: 400 50px/40px 'BebasNeueBold', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}