/*!
*
*
* FONTS IMPORT
*
*
*/

@import "vars";
@import "fonts";
@import "_mixins/btn";
@import "_mixins/input";
/*!
*
*
* LIBS FILES
*
*
*/

//@import "libs";
/*!
*
*
* END OF LIBS FILES
*
* MAIN.CSS START
*
*
*/

::placeholder {
	color: #666;
}

::selection {
	background-color: $color-two;
	color: #fff;
}

button:focus {
	outline: none;
}

html,
body {
	height: 100%;
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

a {
	color: inherit;
	font-family: $second-font;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

h1,
h2,
h3,
h4 {
	margin-bottom: 0;
	margin-top: 0;
	color: $color-three;
	font-family: $second-font;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type='number'] {
  -moz-appearance: textfield;
}
body {
	font-size: 15px;
	font-weight: bold;
	min-width: 320px;
	position: relative; //line-height: 1.65;
	font-family: $first-font;
	overflow-x: hidden;
	background-color: #fefefe;
	line-height: 1.33;
	color: $color-two;
	background-color: #F2F2F2;

	input,
	textarea {
		border: #666 1px solid;
		outline: none;

		&:focus:required:invalid {
			border-color: $color-one;
		}

		&:required:valid {
			border-color: $color-two;
		}
	}
}

.colorish {
	color: $color-one;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.container {
	width: 1095px;
	margin: auto;
	position: relative;
}

.clearfix {
	clear: both;

	&:after {
		display: table;
		content: '';
		clear: both;
	}
}

h1 {
	color: $color-one;
	font-weight: bold;
	font-size: 85px;
}

//default css end
.mobile {
	display: none;
}

.toggler {
	display: none;
}

.header {
	background-color: #fff;
	color: $color-two;
	font-family: $second-font;
	font-size: 35px;
	line-height: 80px;
	font-weight: bold;
	margin-bottom: 28px;

	&-title {
		color: $color-one;
      font-size: 48px;
	}

	.container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between
	}

	&-background {
		width: 40%;
	}

	&-wrapper {
		width: 100%;
		display: inline-block;
		float: left;
	}

	&-middle {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;

	}

	&-nav {
		text-transform: uppercase;
		line-height: 42px;
		margin-top: 20px;
		&-item {
			&:hover,
			&.active {
				color: $color-three;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					background-color: $color-one;
					border-radius: 3px;
					top: -4px;
					left: -10%;
					height: 3px;
					width: 120%;
				}
			}
		}
	}

	&-end {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		width: 27%;

		&-item {
			position: relative;
			cursor: pointer;
		}

		&-item:not(:last-child):hover {
			color: $color-three;

			&:before {
				content: '';
				position: absolute;
				background-color: $color-one;
				border-radius: 3px;
				top: -14px;
				left: -10%;
				height: 3px;
				width: 120%;
			}
		}
	}

	&-language {
		cursor: pointer;
		width: 42px;
		height: 42px;
		background-repeat: no-repeat;

		&--usa {
			background-image: url(../img/usa.png);

		}
	}



}

.header-menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: Campton, sans-serif;
	font-size: 13px;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 25%
}

.header-btn {
	padding-top: 40px;
	position: relative;
	text-align: center;
	line-height: 22px;
	margin-top: 10px;
	width: 25%;
}

.header-btn-link {
	height: 100%;
	font-family: $first-font;

	&--active:before {
		background-color: $color-four;
	}
}

.header-btn-link:before {
	position: absolute;
	content: '';
	background-position: 50% 50%;
	left: -webkit-calc(50% - 20px);
	left: calc(50% - 20px);
	top: 0;
	height: 40px;
	width: 40px;
	background-repeat: no-repeat;
	border: 1px solid #b2defb;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.header-btn-link--billing:before {
	//background-image: url(../img/icons/dollar.png)
	content: '$';
	font-size: 24px;
	font-weight: 700;
	line-height: 40px;
	color: $color-one;
}


.header-btn-link--tickets:before {
	background-image: url(../img/icons/tickets.svg);
	background-position: 50% 50%
}

.header-btn-link--settings:before {
	background-image: url(../img/icons/settings.svg)
}

.header-btn-link--exit:before {
	background-image: url(../img/icons/exit.svg)
}

.info {
	overflow: hidden;
	margin-bottom: 32px;

	&-wrapper {
		background-color: #fff;
		padding: 37px 37px 32px;

	}

	&-top {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 43px;
	}

	&-img {}

	&-title {
		font-size: 49px;
		font-weight: bold;
		text-transform: uppercase;
	}

	&-btn {

		background-color: $color-four;
		border: none;
		border-radius: 8px;
		font-size: 38px;
		font-weight: bold;
		font-family: $second-font;
		text-transform: uppercase;
		line-height: 56px;
		width: 216px;
		height: 56px;
		cursor: pointer;
		text-align: center;

		&:before {
			content: 'show more';
		}

		&--active {
			background-color: $color-two;
		}

		&--active:before {
			content: 'hide';
			color: $color-four;
		}
	}

	&-intro {
		font-size: 12px;
		line-height: 16px;
		height: 100%;
	}

	&-text {

		display: none;

		&-title {
			font-size: 32px;
			font-weight: bold;
		}

		&-paragraph {
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 1.5em;
		}
	}
}

.logo {
	position: relative;

	&-rate {
		position: absolute;
		border-radius: 50%;
		width: 45px;
		height: 45px;
		background-color: #FFE451;
		bottom: -22px;
		right: -22px;
		text-align: center;
		font-family: $second-font;
		font-weight: bold;
		font-size: 30px;
		line-height: 45px;
	}
}

.offer {
	margin-bottom: 49px;

	&-wrapper {
		box-sizing: border-box;
		padding: 9px 0;
		border: 15px solid $color-four;
		background-color: #fff;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	&-phrase {
		font-family: $second-font;
		font-size: 58px;
		text-transform: uppercase;
		margin-right: 63px;
		color: $color-three;
	}

	&-link {
		background-color: $color-two;
		color: $color-four;
		font-size: 43px;
		padding: 0px 59px;
		border-radius: 8px;
		text-transform: uppercase;
		font-weight: 400;
		line-height: 46px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32);
		transition: all 0.3s;

		&:hover {
			color: $color-four;
			transform: translateX(1px);
			box-shadow: none;

		}

	}
}

.overview {
	margin-bottom: 45px;

	&-list {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

}

.card {
	width: 327px;
	max-width: 100%;
	padding: 20px;
	min-height: 630px;
	background-color: #fff;

	&-title {
		font-size: 40px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 29px;
	}

	&-subtitle {
		font-size: 23px;
		margin-bottom: 0;

	}

	&-text {
		font-size: 12px;
		margin-bottom: 10px;
		line-height: 16px;
	}
}

//.sale {
//  &-wrapper {
//    display: -webkit-flex;
//    display: -moz-flex;
//    display: -ms-flex;
//    display: -o-flex;
//    display: flex;
//    flex-direction: column;
//  }
//}
.casino {

	&-popup {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(178, 222, 251, .6);
		z-index: 100;
		display: none;

		&.shown {
			//      display: -webkit-flex;
			//      display: -moz-flex;
			//      display: -ms-flex;
			//      display: -o-flex;
			//      display: flex;
		}

		&-overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&-content {
			margin: auto;
			margin-top: calc(50vh - 500px);
			background-color: #fff;
			padding: 30px 40px 30px 28px;
			max-width: 820px;
			position: relative;
		}

		&-top {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			align-items: center;
			margin-bottom: 24px;
		}

		&-image {
			width: 280px;
			margin-right: 40px;
			overflow: hidden;

			& img {
				width: 100%;
			}
		}

		&-name {
			color: $color-three;
			font-size: 96px;
			text-transform: uppercase;
			line-height: 1;
		}

		&-category {
			color: $color-one;
			text-transform: uppercase;
			font-size: 70px;
			line-height: 1;
		}

		&-descr {
			font-size: 16px;
			color: $color-three;
			margin-bottom: 28px;

			& p {
				margin: 0;
			}
		}

		&-close {
			font-size: 74px;
			line-height: 34px;
			position: absolute;
			top: 0;
			right: 0;
			border: none;
			background: none;
			height: 34px;
			width: 34px;
			font-weight: 300;
			font-family: $second-font;
			cursor: pointer;
		}

		&-slider {
			width: 650px;
			margin: auto;
			margin-bottom: 28px;

			& .casino-sale {
				text-align: center;

			}

			& .slick-prev:before,
			& .slick-next:before {
				border-top-color: $color-one;
			}
		}

		&-link {
			@include btn-short;
			margin: 0 auto;
			display: block;
			width: 278px;
			font-size: 71px;
			line-height: 82px;
		}
		.casino-offer-text {
			font-size: 122px;
		}.casino-offer-name {
			font-size: 18px;
		}

	}

	&-toggle {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		height: 77px;
		justify-content: space-between;
		padding: 0 45px;
		background-color: #fff;
		margin-bottom: 27px;
	}

	&-toggler {
		position: relative;
		font-family: $second-font; //    width: 100%;
		//    max-width: 136px;
		text-align: center;
		font-size: 29px;
		text-transform: uppercase;
		padding: 16px 6px 0px 52px;
		background-repeat: no-repeat;
		background-position: left center;
		cursor: pointer;
		line-height: 48px;

		&:hover,
		&--active {
			color: $color-three;

			&:before {
				content: '';
				position: absolute;
				background-color: $color-one;
				border-radius: 3px;
				top: 2px;
				left: -5%;
				height: 3px;
				width: 110%;
			}
		}

		&--icon1 {
			background-image: url(../img/icons/dice.svg);
		}

		&--icon2 {
			background-image: url(../img/icons/favorite.svg);
		}

		&--icon3 {
			background-image: url(../img/icons/attention.svg);
		}

		&--icon4 {
			background-image: url(../img/icons/phone.svg);
			background-position: 10% center;
		}
	}

	&-item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 13px 52px 29px;
		background-color: #fff;
		margin-bottom: 27px;
		align-items: center;
	}

	//&-left {
	//	width: 58%;
	//	display: -webkit-flex;
	//	display: -moz-flex;
	//	display: -ms-flex;
	//	display: -o-flex;
	//	display: flex;
	//	flex-direction: row;
	//	justify-content: space-between;
	//}
	//
	//&-right {
	//	width: 42%;
	//	padding-left: 89px;
	//	display: -webkit-flex;
	//	display: -moz-flex;
	//	display: -ms-flex;
	//	display: -o-flex;
	//	display: flex;
	//	align-items: center;
	//	justify-content: space-between;
	//}

	&-img {
		width: 217px;
	}

	&-info {
		width: 312px;
		max-width: 100%;
	}

	&-title {
		font-size: 38px;
	}

	&-subtitle {
		font-size: 22px;
		color: $color-one;
	}

	&-text {}

	.logo {
		height: 135px;
	}

	&-sale {
		width: 150px;
		display: flex;
		align-items:center;
	}
	&-offer {
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		&-text {
			vertical-align: middle;
			font-family: $second-font;
			display: inline-block;
			font-size: 67px;
			color: $color-one;
			line-height: 1.2;
		}

		&-name {}
	}

	&-percent {
		position: relative;

		&:after {
			position: absolute;
			content: 'cashback in month';
			font-size: 9px;
			color: $color-two;
			font-family: $first-font;
			width: 45px;
			bottom: -20px;
			left: 0;
		}
	}

	&-spins {
		position: relative;

		&:after {
			position: absolute;
			content: 'free spins';
			font-size: 9px;
			color: $color-two;
			font-family: $first-font;
			width: 23px;
			bottom: -20px;
			right: 0;
		}
	}

	&-links {
		height: 112px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 60px;
	}

	&-link {
		display: block;
		background-color: $color-two;
		color: $color-four;
		font-size: 30px;
		width: 119px;
		text-align: center;
		border-radius: 8px;
		text-transform: uppercase;
		font-weight: 400;
		line-height: 46px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32);
		transition: all 0.3s;

		&:hover {
			color: $color-four;
			transform: translateX(1px);
			box-shadow: none;

		}
	}

	&-pagination {
		text-align: center;
		margin: 60px auto;

		& a {
			color: $color-three;
			font-size: 29px;
			font-family: $first-font;
			display: inline-block;
			margin: 0 4px;

			&.active,
			&:hover {
				color: $color-two;
			}
		}
	}
}

.slides {
	position: relative;
	background-color: $color-four;
	padding: 30px 0;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		top: 20%;
		bottom: 20%;
		background-color: $color-three;

	}
}

.slider {
	&-item {
		background-color: #fff;
//		max-width: 240px;
        width: 240px;
		height: 236px;
		padding: 22px 15px;
		overflow: hidden;
		box-sizing: border-box;
        margin-left: 44px;
        margin-right: 44px;
		display: inline-block;
	}

	&-title {
		font-family: $second-font;
		text-transform: uppercase;
		font-size: 38px;
		text-align: center;
		margin-bottom: 12px;
	}

	&-middle {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	&-image {
		width: 106px;
		height: 67px;
		overflow: hidden;

		& img {
			max-width: 100%;
		}
	}

	&-payments {
		width: 86px;

		&--how {
			line-height: 1;
			color: $color-one;
			font-size: 27px;
		}

		&--what {
			color: $color-two;
			font-size: 12px;
		}
	}

	&-link {
		margin: 0 auto;
		display: block;
		text-align: center;
		background-color: $color-four;
		border-radius: 8px;
		border: none;
		cursor: pointer;
		font-size: 32px;
		font-weight: 300;
		text-transform: uppercase;
		font-family: $second-font;
		width: 130px;
		height: 44px;
		line-height: 44px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32);
		transition: all 0.3s;

		&:hover {
			transform: translateX(1px);
			box-shadow: none;

		}

	}
}

.light-link {
	background-color: $color-four;
	color: $color-two;

	&:hover {
		color: $color-two;
	}
}

.cashback {
	&-wrapper {
		background: url(../img/background1.png) rgba(178, 222, 251, .65) no-repeat center;
		padding: 30px 45px 45px;
	}

	&-title {
		color: $color-three;
		font-size: 70px;
		text-transform: uppercase;
	}

	&-text {
		color: $color-three;
	}
}

.footer {
	background-color: $color-three;
	color: $color-four;

	&-wrapper {
		padding: 46px 0px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}

	&-about {
		width: 256px;
	}

	&-title {
		font-family: $second-font;
		font-size: 40px;
		text-transform: uppercase;
		margin-bottom: 24px;
		line-height: 1;
	}

	&-text {
		font-size: 12px;
		margin-bottom: 20px;
	}

	&-links-wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		width: 40%;
	}

	&-links {}

	&-link {
		display: block;
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 12px;

		&:hover {
			opacity: .6;
		}
	}

	&-icons {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}

	&-icon {

		display: inline-block;
		height: 40px;
		min-width: 40px;
		background-size: contain;
		background-repeat: no-repeat;

		&--eighteen {
			width: 40px;
			background-image: url(../img/footer_eighteen@2x.png);
		}

		&--gamcare {
			width: 36px;
			background-image: url(../img/footer_gamcare@2x.png);
		}

		&--bga {
			width: 56px;
			background-image: url(../img/footer_bga@2x.png);
		}

		//        &:hover {
		//            opacity: .6;
		//        }
	}
}

.blue-bg {
	background-color: $color-four;
}

.balance {
	background-color: #fff;
	padding: 24px 0;
	margin-bottom: 28px;

	&-wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;

	}

	&-item {
		width: 266px;
		border: 1px solid $color-four;
		border-radius: 12px;
		padding: 32px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&-title {
		font-family: $second-font;
		text-transform: uppercase;
		font-size: 48px;
		margin-bottom: 12px;
		color: $color-three;
	}

	&-middle {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		margin-bottom: 12px;

	}

	&-currency {
		font-size: 37px;
		color: $color-one;
		width: 52px;
		height: 52px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $color-four;
		border-radius: 6px;
		margin-right: 24px;

	}

	&-value {
		font-size: 41px;
	}

	&-descr {
		color: $color-one;
		font-size: 18px;
	}
}

.cashback-table {
	padding: 24px 0;
	background-color: #fff;
	margin-bottom: 28px;

	&-wrapper {}

	&-title {
		border: 1px solid $color-four;
		border-radius: 6px;
		padding: 18px 0;
		font-size: 37px;
		text-transform: uppercase;
		font-family: $second-font;
		display: -webkit-flex;
		color: $color-three;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;

		& p {
			width: 30%;
			text-align: center;

		}
	}

	&-row {
		padding-right: 150px;
		position: relative;
		margin-bottom: 20px;
	}

	&-link {
		position: absolute;
		right: 0;
		top: 4px;
		display: block;
		width: 130px;
		height: 48px;
		background-color: $color-two;
		color: $color-four;
		font-size: 35px;
		font-family: $second-font;
		text-transform: uppercase;
		text-align: center;
		line-height: 48px;
		border-radius: 8px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32);
		transition: all 0.3s;


		&:hover {
			color: $color-four;
			transform: translateX(1px);
			box-shadow: none;

		}
	}

	&-summary {
		position: relative;
		border: 1px solid $color-four;
		border-radius: 6px;
		font-size: 20px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-around;
		padding: 14px 0;
		overflow: hidden;
		margin-bottom: 8px;

		& p {
			width: 30%;
			text-align: center;

			& span {
				color: $color-one;
			}
		}
	}

	&-showdetails {
		position: absolute;
		right: 0;
		height: 100%;
		top: 0;
		width: 44px;
		border: none;
		background-color: $color-one;
		cursor: pointer;

		&:before {
			content: '';
			position: absolute;
			border: 12px solid transparent;
			border-top: 12px solid $color-four;
			top: 45%;
			left: calc(50% - 12px);

		}

	}

	&-details {
		border: 1px solid $color-four;
		border-radius: 6px;
		display: none;
		color: $color-one;

		&-row {
			position: relative;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-around;
			padding: 12px 0;
			font-size: 16px;

			& p {
				width: 30%;
				text-align: center;

				& span {
					color: $color-one;
				}
			}
		}
	}
}

.referals {
	background-color: #fff;
	padding: 24px 0 42px;
	margin-bottom: 28px;

	&-title {
		text-transform: uppercase;
		font-family: $second-font;
		font-size: 44px;
		text-align: left;

	}

	&-table {
		&-categories {
			position: relative;
			border: 1px solid $color-four;
			border-radius: 6px;
			font-size: 37px;
			text-transform: uppercase;
			font-family: $second-font;
			color: $color-three;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-around;
			padding: 14px 43px 14px 0;
			overflow: hidden;
			margin-bottom: 8px;

			& p {
				width: 30%;
				text-align: center;

				& span {
					color: $color-one;
				}
			}
		}

		&-showdetails {
			position: absolute;
			right: 0;
			height: 100%;
			top: 0;
			width: 43px;
			border: none;
			background-color: $color-one;
			cursor: pointer;

			&:before {
				content: '';
				position: absolute;
				border: 12px solid transparent;
				border-top: 12px solid $color-four;
				top: 45%;
				left: calc(50% - 12px);

			}
		}

		&-details {
			border: 1px solid $color-four;
			border-radius: 6px;
			margin-right: 43px;
			display: none;
			color: $color-one;

		}

		&-row {
			position: relative;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-around;
			padding: 12px 0;
			font-size: 16px;

			& p {
				width: 30%;
				text-align: center;

				& span {
					color: $color-one;
				}
			}
		}
	}

	.js-dropdown-btn--active:before {
		top: 25%;
	}
}

.login-popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(178, 222, 251, .6);
	z-index: 100;
	display: none;

	&.shown {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&-content {
		margin: auto;
		max-width: 450px;
		position: relative;
		z-index: 101;
		//margin-top: calc((100vh - 642px)/2);
		box-shadow: 0 3px 6px rgba(10, 0, 49, 0.43);
	}

	&-close {
		font-size: 74px;
		line-height: 34px;
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		background: none;
		height: 34px;
		width: 34px;
		font-weight: 300;
		font-family: $second-font;
		cursor: pointer;
	}
}

.form {
	//    background-color: #fff;
	width: 451px;
	max-width: 100%;

	&-wrapper {
		background-color: #fff;
		max-width: 450px;
		padding: 34px 46px;
		box-sizing: border-box;
	}

	&-title {
		font-family: $second-font;
		color: $color-one;
		font-size: 40px;
	}

	&-subtitle {
		font-family: $second-font;
		font-size: 29px;
		color: $color-two;
		display: inline-block;
		margin-right: 48px;
		cursor: pointer
	}

	&-input {
		width: 100%;
		border: 1px solid $color-four;
		border-radius: 6px;
		height: 37px;
//		margin-bottom: 7px;
		padding: 5px;
		box-sizing: border-box;
        font-weight: 700;
        font-family: $first-font;
        color: $color-two;
	}

	&-name {
		padding-bottom: 3px;
		font-size: 16px;
		color: $color-three;
		margin-top: 7px;
		display: inline-block;
	}

	&-select {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		font-family: $first-font;
		border: 1px solid $color-four;
		border-radius: 6px;
		height: 37px;
		min-width: 91px;
		max-width: 100%;
		text-align: center;
		padding-left: 15px;
		position: relative;
		background-image: url(../img/blue-down.png);
		background-position: 100% 0;
		background-repeat: no-repeat;
		margin: 15px 16px 0px 0;
		color: $color-three;
		font-weight: 700;
		display: inline-block;

		& option {
			color: $color-three;
			width: 100%;
			font-weight: 700;
		}

		& option::disabled,
		& option::hidden {
			color: $color-two;

		}
	}

	&-blue {
		box-sizing: border-box;
		background-color: $color-four;
		height: 85px;
		margin: 13px 0 0;
		width: 328px;
		max-width: 100%;
		margin: 13px auto 18px;
	}

	&-note {
		font-size: 11px;
		line-height: 15px;
	}

	&-submit {
		background-color: $color-two;
		border-radius: 8px;
		color: $color-four;
		font-size: 34px;
		line-height: 40px;
		font-family: $second-font;
		width: 148px;
		text-align: center;
		display: block;
		margin: 0 auto;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32);
		border: none;
		margin-top: 22px;
		height: 51px;
		cursor: pointer;
		transition: all 0.3s;

		&:hover {
			background-color: $color-one;
			box-shadow: none;
			transform: translateX(-1px);
		}
	}
}
.field-signupform-month, .field-signupform-day, .field-signupform-year {
    display: inline-block;
  margin-bottom: 17px;
}
.js-form {
	display: none;

	&-tab--active {
		color: $color-three;
	}

	&--active {
		display: block;
	}
}

.js-dropdown-btn {
	&--active {
		&:before {
			border-top: 12px solid transparent;
			border-bottom: 12px solid $color-four;
			top: 15%;
			left: calc(50% - 12px);
		}
	}
}

.js-dropdown-cnt {
	&--active {
		//    transform: translateY(0%);
		//    height: 100%;
	}
}

//p3 end
//p4 start
.wallets {
	background-color: #fff;
	padding-top: 24px;
	margin-bottom: 28px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

	&-title {
		font-size: 20px;
		text-transform: uppercase;
		text-align: left;
		color: $color-three;
		margin-bottom: 12px;
	}

	&-row {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-start;   
        flex-wrap:wrap;
	}

	&-item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		border-radius: 6px;
		min-width: 150px;
        margin-right: 70px;
        margin-bottom: 20px;

		&--active {
			background-color: $color-four;
		}
	}

	&-currency {
		background-color: $color-one;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
		color: $color-four;
		padding: 6px 8px 6px 10px;
	}

	&-balance {
		border: 1px solid $color-four;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 6px;
		border-left: none;
		padding: 6px 10px 6px 8px;
		width: 100%;
		font-family: $first-font;
		text-align: center;
	}
}

.choosen-wallet {
	background-color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	margin-bottom: 28px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

	&-title {
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 16px;
	}


	&-middle {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
		margin-bottom: 12px;
		margin-bottom: 16px;

	}

	&-currency {
		font-size: 17px;
		color: $color-one;
		border: 1px solid $color-four;
		border-radius: 6px;
		margin-right: 24px;
		padding: 2px 10px;

	}

	&-balance {
		font-size: 17px;
	}



	&-button {
		display: inline-block;
		@include btn-small;
	}
}

.payments {
	&-wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		max-width: 1280px;
		margin: 0 auto;
		justify-content: space-between;
	}

	&-left {
		width: 620px;
		max-width: 100%;

		& .history {
			&-table {
				&-caption {
					font-size: 10px;
					margin-bottom: 25px;
					padding: 5px 0 4px;
				}

				&-items {
					padding: 8px;
				}

				&-item {
					font-size: 9px;

					&:not(:last-child) {
						padding-top: 0;
						padding-bottom: 17px;
					}

				}
			}

			&-all {
				font-size: 22px;
				height: 34px;
				line-height: 34px;
			}
		}
	}

	&-right {}
}

.history {
	background-color: #fff;
	padding: 20px 0;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	margin-bottom: 35px;
	padding: 28px;

	&-title {
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 15px;
	}

	&-table {
		border-radius: 6px;
		width: 100%;
		border-collapse: separate;

		th {
			border: 1px solid $color-four;
			border-radius: 6px;
			font-size: 16px;
			padding: 5px 0 5px;
			margin-bottom: 16px;
            width: 20%;
		}

		td {
			text-align: center;
			color: $color-one;
			border-radius: 6px;
			box-sizing: border-box;
			border: 1px solid $color-four;
            width: 20%;

		}

		col {
			width: 25%;
		}
	}

	&-all {
		@include btn-middle;
		margin: 25px auto 0;
		font-size: 27px;
		display: block;
		line-height: 37px;
		height: 37px;
		width: 163px;

	}

}

// p5 start
//payment method start
.pay {
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	padding: 29px 53px 52px;
	width: 640px;
	margin-bottom: 37px;
	//min-height: 563px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	&-wrapper .slick-track > * {outline:none}

	&-breadcrumb {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		margin-bottom: 48px;

		&-item {
			font-size: 16px;
			color: $color-three;

			&--active {
				color: $color-two;
			}
		}
	}

	&-content {
		display: none;

		&--active {
			display: block;
		}
	}

	&-item {
		padding-left: 70px;
		background-repeat: no-repeat;
		background-position: 0 50%;
		margin-bottom: 30px;
		position: relative;
		cursor: pointer;

		&--mastercard {
			background-image: url(../img/mastercard.svg);
		}

		&--yandex {
			background-image: url(../img/yandex.svg);
		}

		&--webmoney {
			background-image: url(../img/web-money.svg);
		}

		&--paypal {
			background-image: url(../img/paypal.svg);
		}

		&--qiwi {
			background-image: url(../img/qiwi.svg);
		}

		&--epayments {
			background-image: url(../img/epayments.svg);
		}
	}

	&-subtitle {
		font-size: 17px;
	}

	&-text {
		font-size: 13px;
		color: $color-three;
	}

	&-btn {
		content: '';
		position: absolute;
		padding: 0;
		border: 8px solid transparent;
		border-left: 8px solid $color-one;
		background: none;
		right: 0;
		top: calc(50% - 8px);
		cursor: pointer;
	}
}

//payment method end
//data input start
.data,
.exchange {
	&-item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		margin-bottom: 26px;
		position: relative;

	}

	&-subtitle {
		font-size: 16px;
		line-height: 43px;
	}

	&-input {
		@include input-small;
		color: $color-two;
		
		&--curr {
			width: 200px;
			overflow: hidden;
			position: relative;
		}
	}

	&-input--currency {
		background-repeat: no-repeat;
		background-position: 264px 50%;
		background-image: url(../img/dollar-grp.svg);
	}

	&-select {
		@include select-small;
	}

	&-curr {
		position: absolute;
		right: 0;
		background-color: $color-one;
		border-radius: 6px;
		color: $color-four;
		height: 43px;
		font-size: 16px;
		width: 80px;
		padding: 11px;
		background-image: url(../img/drop-blue.svg);
		background-repeat: no-repeat;
		background-position: 80% 60%;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;

		& option {
			color: $color-four;
			width: 100%;
		}
	}

	&-buttons {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		margin-top: 56px;
        padding: 0 5px 10px;

	}

	&-close {
		@include btn-md-blue;

	}

	&-submit {
		@include btn-md;
	}

	.help-block {
        right: 0;
        bottom: -15px;
    }
}
.help-block {
	position: absolute;
	font-size: 10px;
	color: $color-one;
}
//data input end

//confirmation start 
.confirm {
	&-item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		border-radius: 6px;
		border: 1px solid $color-four;
		height: 43px;
		line-height: 43px;
		margin-bottom: 26px;
		padding: 0 19px 0 19px;
	}

	&-info {
		font-weight: 500;
	}

	&-buttons {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		margin-top: 56px;
        padding: 0 5px 10px;

	}

	&-close {
		@include btn-md-blue;

	}

	&-submit {
		@include btn-md;
	}
}

//confirmation end
//result start
.result {
	&-wrap {
		border: 1px solid $color-four;
		border-radius: 6px;
		padding: 33px 12px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	&-img {
		background-repeat: no-repeat;
		min-width: 107px;
		width: 85px;
		height: 66px;
		width: 107px;
		background-position: 50% 50%;

		&--success {
			background-image: url(../img/success.svg);
		}

		&--fail {
			background-image: url(../img/fail.svg);
		}
	}

	&-text {
		font-size: 12px;

		&--fail {
			color: $color-one;
		}
	}

}

//result end
//exchange start 
.exchange {
	&-input--currency {
		background-repeat: no-repeat;
		background-position: 275px 50%;
		background-size: 11px;
		//background-image: url(../img/icons/dollar.png);
	}

	&-rate {
		position: absolute;
		right: 18px;
		top: -15px;
		color: $color-one;
		font-size: 12px;
		font-weight: 500;
	}

}

//exchange end
//p5 end
//p6 start
.tickets {
	&-wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		max-width: 1280px;
		margin: 0 auto;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&-left {
		min-width: 620px;
		max-width: 100%;
	}

	&-right {
		width: 640px;
		max-width: 100%;
	}
}

.status {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	color: $color-three;
	background-color: #fff;
	padding: 19px 64px 19px 116px;
	margin-bottom: 18px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);


	&-title {
		padding-bottom: 29px;
		background-repeat: no-repeat;
		background-position: 50% 100%;
		text-transform: uppercase;
		background-color: transparent;
		font-family: $second-font;
		font-size: 27px;
		border: none;
		cursor: pointer;
		font-weight: 700;

		&--open {
			background-image: url(../img/open.svg);
		}

		&--closed {
			background-image: url(../img/closed.svg);
		}

		&--close {
			background-image: url(../img/close.svg);
		}

		&:hover {
			color: $color-two;
		}
	}
}

.create {
	background-color: #fff;
	padding: 28px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	margin-bottom: 21px;

	&-btn {
		@include btn-middle;
		display: block;
		text-transform: uppercase;
		width: 190px;
		height: 44px;
		font-size: 32px;
		line-height: 44px;
		margin: 0 auto;
		font-weight: 400;
	}
}

.re {
	background-color: #fff;
	padding: 33px 88px 53px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	margin-bottom: 48px;

	&-pre {
		background-color: $color-one;
		padding: 11px 16px;
		color: $color-four;
		border-top-left-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	&-item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		border-radius: 6px;
		border: 1px solid $color-four;
		margin-bottom: 26px;
	}

	&-text {
		padding: 10px 35px;
		font-size: 16px;
	}
}

.creating {
	&-head {
		background-color: #fff;
		padding: 19px 83px 19px 61px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		margin-bottom: 18px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	&-body {
		background-color: #fff;
		padding: 33px 43px 33px 60px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		margin-bottom: 49px;
	}

	&-left {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-self: center;
		margin-right: 165px;
	}

	&-pre {
		font-family: $second-font;
		font-size: 28px;
		color: $color-three;
		margin-right: 13px;
	}

	&-item {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		position: relative;
		margin-bottom: 16px;

	}

	&-subtitle {
		font-size: 30px;
		font-family: $second-font;
		text-transform: uppercase;
		color: $color-three;
		margin-bottom: 11px;
		line-height: 30px;
	}

	&-title {
		font-size: 20px;
		line-height: 37px;
	}

	&-text {
		border: 1px solid $color-four;
		border-radius: 6px;
		padding: 22px 30px;
		width: 412px;
		max-width: 100%;
		resize: none;
		min-height: 200px;
		color: $color-three;
		box-sizing: border-box;

		&::placeholder {
			color: $color-two;
		}

		&--topic {
			padding: 23px 30px 16px;
			min-height: auto;
			font-size: 16px;
		}
	}

	&-attach {
		position: absolute;
		right: 40px;
		top: 22px;
		content: '';
		background-image: url(../img/attach.svg);
		background-repeat: no-repeat;
		width: 32px;
		height: 28px;
		border-radius: 6px;
		border: 1px solid $color-four;
		background-position: 50% 50%;
		background-color: #fff;
		cursor: pointer;
	}

	&-screen {
		position: absolute;
		right: 83px;
		bottom: 26px;
		font-weight: 500;
	}

	&-files {
		display: block;
		margin-bottom: 34px;

		&-list {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			flex-wrap: wrap;
		}

		&-item {
			background-color: #000;
			width: 125px;
			height: 62px;
			margin-right: 60px;
			margin-bottom: 20px;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}

	&-btn {
		@include btn-middle;
		font-size: 25px;
		text-transform: uppercase;
		margin: 0 auto;
		display: block;
	}

}

.chat {
	box-sizing: border-box;

	&-body {
		height: 552px;
		background-color: #fff;
		padding: 23px 83px 15px 60px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		margin-bottom: 49px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		box-sizing: border-box;

	}

	&-content {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		overflow: hidden;
	}

	&-text {
		border: 1px solid $color-four;
		border-radius: 6px;
		padding: 17px 20px;
		width: 496px;
		max-width: 100%;
		resize: none;
		min-height: 133px;
		color: $color-three;
		margin-top: 20px;
		box-sizing: border-box;

		&::placeholder {
			color: $color-two;
		}

		&-wrap {
			position: relative;
		}
	}

	&-attach {
		top: 34px;
		right: 17px;
	}

	&-popup {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 100;
		display: none;

		&-overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&-content {
			margin: auto;
			margin-top: calc((100vh - 200px)/2);
			background-color: #fff;
			padding: 23px 46px;
			width: 506px;
			max-width: 100%;
			position: relative;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			margin-right: calc(50% - 523px);
			box-sizing: border-box;
		}

		&-top {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
		}

		&-photo {
			border: 1px solid $color-four;
			border-radius: 6px;
			padding: 0px 32px 0px 60px;
			line-height: 43px;
			position: relative;
			background-color: #fff;
			color: $color-two;
			font-family: $first-font;
			cursor: pointer;

			&:hover {
				background-color: $color-five;
			}

			&:before {
				content: '';
				width: 35px;
				height: 30px;
				background-repeat: no-repeat;
				background-size: 50%;
				background-color: #fff;
				background-position: 50% 50%;
				border: 1px solid $color-four;
				border-radius: 6px;
				left: 12px;
				top: 6px;
				position: absolute;
			}

			&--upload:before {
				background-image: url(../img/icons/plus.svg);
			}

			&--take:before {
				background-image: url(../img/icons/webcam.svg);
			}
		}

		&-nofiles {
			margin: 40px auto 20px;
			color: $color-two;
			font-size: 19px;
			font-weight: 500;
			width: 190px;
		}
	}
}

.js-attach-popup-show--active {
	background-color: $color-four;
}

.msg {
	border-radius: 6px;
	font-family: $second-font;
	font-size: 16px;
	margin-bottom: 24px;
	padding: 7px 10px;
	line-height: 19px;

	&-title {
		text-transform: uppercase;
		color: $color-one;

		&--in {
			color: $color-four;
		}
	}

	&-out {
		background-color: $color-four;
		color: $color-three;
		max-width: 300px;
		align-self: flex-end;

	}

	&-in {
		background-color: $color-two;
		color: $color-four;
		max-width: 356px;
	}

	&-attach {
		margin-top: 6px;
		margin-bottom: 6px;

		&-img {
			max-width: 87px;
			max-height: 81px;
			display: inline-block;

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

}

/*land start*/
.first {
	padding: 64px 0;
	background-image: url(../img/bg-1.svg);
	position: relative;
	background-color: #c0e1f8
}

.first:before {
	content: '';
	position: absolute;
	width: 1280px;
	max-width: 100%;
	height: 100%;
	top: 0;
	left: -webkit-calc(50% - 640px);
	left: calc(50% - 640px);
	background-color: rgba(178, 222, 251, .64)
}

.first .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.first-left {
	width: 45%
}

.first-subtitle {
	font-size: 63px;
	font-family: RamaGothicM, sans-serif;
	color: #0a0031;
	margin-bottom: 18px
}

.second {
	padding: 39px 0
}

.second-title {
	font-family: RamaGothicM, sans-serif;
	font-size: 67px;
	text-align: center;
	margin-bottom: 18px;
	text-transform: uppercase;
	color: #0a0031
}

.second-img {
	margin: 0 auto
}

.second-item {
	text-align: center
}

.second-text {
	padding-top: 8px;
	font-size: 13px
}

.second-list {
	width: 976px;
	margin: 0 auto;
	max-width: 100%
}

.third {
	padding-top: 29px;
	padding-bottom: 85px;
	background-image: url(../img/bg-3.svg);
	background-color: #bfd9f4
}

.third-title {
	font-family: RamaGothicM, sans-serif;
	font-size: 123px;
	text-align: center;
	color: #0a0031
}

.third-subtitle {
	font-size: 37px;
	text-align: center;
	margin-bottom: 39px
}

.third-text {
	width: 975px;
	margin: 0 auto;
	padding-bottom: 60px;
	max-width: 100%
}

.fourth {
	padding-top: 64px;
	padding-bottom: 44px
}

.fourth-list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%
}

.fourth-title {
	text-transform: uppercase;
	font-family: RamaGothicM, sans-serif;
	font-size: 30px;
	margin-bottom: 40px;
	color: #0a0031
}

.fourth-item {
	width: 235px;
	text-align: center
}

.fourth-img {
	margin: 0 auto 33px
}

.fourth-text {
	text-align: left;
	margin: 0 auto;
	width: 235px
}

.fourth-text--center {
	width: 245px
}

.fifth {
	padding: 69px 0;
	background-image: url(../img/bg-5.svg);
	-webkit-background-size: auto auto;
	background-size: auto;
	background-position: 50% 0;
	background-color: #bcdef7
}

.fifth .first-left {
	width: 37%
}

/*land end*/
//p6 end


/*!
*
*
* END OF MAIN.CSS
*
* MEDIA.CSS START
*
*
*/

//@import "media"; // Always at the end
