.pagination-wrap {
    text-align: center;
    margin-bottom: 45px;
    position: relative;
    width: 100%;
}
.pagination {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

.pagination-list {
    display: inline-block;
}

.pagination-list .pagination {
    margin: 0;
}

.pagination-list .page-item {
    padding: 0;
    margin: 0 3px;
}

.pagination-list .page-link {
    font-size: 29px;
    font-weight: 700;
    color: #0A0031;
    border-radius: 0;
    border: 0;
    font-family: "Campton", sans-serif;
}

.pagination-list .page-link:hover {
    background: #e8e8e8;
}

.pagination-list .page-item.active .page-link {
    color: #003471;
}

.pagination-list .page-link,
.pagination-list .page-item.disabled .page-link,
.pagination-list .page-item.prev .page-link,
.pagination-list .page-item.next .page-link {
    background: transparent;
}

.pagination-list .page-item.disabled .page-link {
    color: #0A0031;
}

.pagination-list .page-item:first-child .page-link,
.pagination-list .page-item:last-child .page-link {
    border-radius: 0;
}

.pagination-list .pagination,.pagination-list .page-item,.pagination-list .page-link {
    outline: 0;
}

.pagination-list .page-link:focus {
    box-shadow: none;
}

.pagination-list .page-item.prev .page-link,
.pagination-list .page-item.next .page-link {
    position: relative;
    width: 46px;
    height: 100%;
}

.pagination-list .prev-btn,
.pagination-list .next-btn {
    font-size: 29px;
    font-weight: 700;
/*    position: absolute;*/
/*
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
*/
    margin: auto;
}

/*
.pagination-list .prev-btn::before {
    content: "<";
}

.pagination-list .next-btn::before {
    content: ">";
}
*/

.pagination-list .page-item,
.pagination-list .page-item.prev .page-link,
.pagination-list .page-item.next .page-link {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently*/
}
@media (max-width: 1119.98px) {
    .pagination-wrap {
        margin-bottom: 20px;
    }
    .pagination-list .page-link {
        font-size: 20px;
    }
    .pagination-list .prev-btn,
    .pagination-list .next-btn {
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .pagination-list .page-link {
    }

    .pagination-list .prev-btn,
    .pagination-list .next-btn {
        line-height: 24px;
    }
}

@media (max-width: 360px) {
    .pagination-list .page-item {
        margin: 0;
    }

    .pagination-list .page-item.prev .page-link,
    .pagination-list .page-item.next .page-link {
        width: 30px;
    }
}