@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue/BebasNeueRegular/BebasNeueRegular.eot');
    src: local('☺'), url('../fonts/BebasNeue/BebasNeueRegular/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeue/BebasNeueRegular/BebasNeueRegular.ttf') format('truetype'), url('../fonts/BebasNeue/BebasNeueRegular/BebasNeueRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('../fonts/BebasNeue/BebasNeueBold/BebasNeueBold.eot');
    src: local('☺'), url('../fonts/BebasNeue/BebasNeueBold/BebasNeueBold.woff') format('woff'), url('../fonts/BebasNeue/BebasNeueBold/BebasNeueBold.ttf') format('truetype'), url('../fonts/BebasNeue/BebasNeueBold/BebasNeueBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.promo-title {
    font: normal 107px/1 'BebasNeueRegular', sans-serif;
    margin-bottom: 30px;
}

.promo-title-small {
    font: 45px/1 'Neucha', sans-serif;
    -webkit-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
    margin-bottom: 100px;
}

.promo-title, .promo-title-small {
    text-align: center;
}

.white-text {
    color: #fff;
}

.how-it-works {
    padding-top: 65px;
    padding-bottom: 65px;
}

.steps-list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 145px;
}

.steps-list, .step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.steps-item {
    width: 330px;
    text-align: center;
}

.step {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 290px;
    height: 290px;
    background: url(../img/promo/step-pink.svg);
    background-size: cover;
    padding: 15px;
    margin: 0 auto 60px;
    border-radius: 50%;
    box-shadow: 0 7px 10px 7px rgba(0,0,0,0.2);
}

.step::before {
    content: "";
    display: block;

}

.step > span {
    display: inline-block;
    font: 127px/90px 'BebasNeueBold', sans-serif;
    color: #fff;
}

.step-1 .step {
    letter-spacing: 10px;
}

.step-2 .step {
    background: url(../img/promo/step-violet.svg)
}

.step-3 .step {
    background: url(../img/promo/step-blue.svg)
}

.step-text {
    font-size: 23px;
    line-height: 27px;
    text-transform: uppercase;
}

.button.button-reg {
    font: 58px/1 'BebasNeueRegular', sans-serif;
    max-width: 460px;
    border-radius: 3px;
    margin: 0 auto;
    letter-spacing: 1px;
}

.our-deals {
    background: url(../img/promo/our-deals-color.jpg);
    padding: 45px 0 60px;
    position: relative;
    z-index: 1;
}

.our-deals, .our-deals-gray {
    background-size: cover;
}

.our-deals-gray, .our-deals-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.our-deals-gray {
    background-image: url(../img/promo/our-deals.jpg);
    z-index: 2;
}

.our-deals:hover .our-deals-gray, .our-deals:hover .our-deals-overlay {
    opacity: 0;
}

.our-deals-overlay {
    background: rgba(0,0,0,0.5);
    z-index: 3;
}

.our-deals .container {
    position: relative;
    z-index: 4;
}

.our-deals-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -43px 12px;
}

.deals-item-wrap {
    width: 33.3%;
    padding-left: 43px;
    padding-right: 43px;
    margin-bottom: 50px;
}

.our-deals-item {
    padding: 50px;
    height: 100%;
}

.our-deals-logo {
    margin-bottom: 15px;
}

.our-deals-logo img, .partner img {
    display: block;
    width: 100%;
}

.our-partners {
    padding-top: 45px;
    padding-bottom: 65px;
}

.our-partners .promo-title-small {
    margin-bottom: 50px;
}

.partners-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -25px 25px;
}

.partner {
    width: 20%;
    padding: 0 25px;
    margin-bottom: 35px;
}

@media (max-width: 1570px) {
    .our-deals-list, .partners-list {
        margin-left: -15px;
        margin-right: -15px;
    }

    .deals-item-wrap, .partner {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .steps-item {
        width: 250px;
    }

    .step {
        width: 230px;
        height: 230px;
    }

    .step > span {
        font-size: 100px;
    }
}

@media (max-width: 1199px) {
    .steps-list {
        margin-bottom: 70px;
    }

    .our-deals-item {
        padding: 25px;
    }

    .partner {
        width: 25%;
    }
}

@media (min-width: 710px) and (max-width: 991px) {
    .steps-item {
        width: 215px;
    }

    .step {
        width: 200px;
        height: 200px;
    }

    .step-text {
        font-size: 20px;
        line-height: 1;
    }
}

@media (max-width: 991px) {
    .promo-title {
        font-size: 90px;
    }

    .step {
        margin-bottom: 40px;
    }

    .button.button-reg {
        font-size: 42px;
        max-width: 350px;
    }

    .our-deals-item {
        padding: 15px;
    }

    .our-deals-list .cashback-result {
        font-size: 50px;
    }

    .our-deals-item .cashback-plus {
        width: 30px;
        font-size: 40px;
        line-height: 60px;
    }

    .our-deals-gray {
        opacity: 0;
    }

    .our-deals-overlay {
        background: rgba(0,0,0,0.2);
    }

    .our-partners {
        margin-bottom: -50px;
    }

    .partner {
        width: 33.3%;
    }
}

@media (max-width: 900px) {
    .our-deals-list {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }

    .deals-item-wrap {
        width: 50%;
    }
}

@media (max-width: 710px) {
    .how-it-works {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .promo-title-small {
        margin-bottom: 70px;
    }

    .steps-list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .steps-item {
        width: 100%;
        margin-bottom: 55px;
    }

    .step-text {
        max-width: 500px;
        margin: 0 auto;
    }

    .our-deals-list {
        max-width: 400px;
    }

    .deals-item-wrap {
        width: 100%;
        margin-bottom: 30px;
    }

    .partner {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .promo-title {
        font-size: 80px;
    }

    .steps-list {
        margin-bottom: 0;
    }

    .partners-list {
        margin-left: -5px;
        margin-right: -5px;
    }

    .our-partners, .our-deals {
        padding-bottom: 45px;
    }

    .partner {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
    }

    .promo-title-small {
        margin-bottom: 50px;
    }
}

@media (max-width: 360px) {
    .promo-title {
        font-size: 70px;
    }

    .promo-title-small {
        font-size: 40px;
    }

    .step {
        width: 230px;
        height: 230px;
    }

    .deals-item-wrap {
        padding-left: 0;
        padding-right: 0;
    }

    .partner {
        width: 100%;
        margin-bottom: 15px;
    }

    .button.button-reg {
        font-size: 35px;
    }
}

