@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue/BebasNeueRegular/BebasNeueRegular.eot');
    src: local('☺'), url('../fonts/BebasNeue/BebasNeueRegular/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeue/BebasNeueRegular/BebasNeueRegular.ttf') format('truetype'), url('../fonts/BebasNeue/BebasNeueRegular/BebasNeueRegular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueBold';
    src: url('../fonts/BebasNeue/BebasNeueBold/BebasNeueBold.eot');
    src: local('☺'), url('../fonts/BebasNeue/BebasNeueBold/BebasNeueBold.woff') format('woff'), url('../fonts/BebasNeue/BebasNeueBold/BebasNeueBold.ttf') format('truetype'), url('../fonts/BebasNeue/BebasNeueBold/BebasNeueBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* css main-menu */
.main-menu .nav-justified .nav-item {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
/* end main-menu */

/*
.form-control {
    font-size: 14px;
    color: #878787;
    border-radius: 2px;
}

.form-control:focus {
    box-shadow: none;
}
*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #878787;
    opacity: 1;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #878787;
    opacity: 1;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #878787;
    opacity: 1;
}

:-moz-placeholder { /* Firefox 18- */
    color: #878787;
    opacity: 1;
}

.line-gradient {
    height: 1px;
    background: linear-gradient(to right, #e81e79 0%, #be2681 50%, #8e2f8a 100%)
}

.modal-light .modal-content, .modal-light .modal-header,
.modal-light .modal-body, .modal-light .modal-footer  {
    border-radius: 0;
}

.modal-light .modal-content {
    position: relative;
    padding: 15px;
}

.modal-light .modal-content {
    padding-top: 20px;
    padding-bottom: 10px;
}

.modal-light .close {
    font-size: 33px;
    line-height: 16px;
    font-weight: 300;
    color: #fff;
    opacity: 1;
    text-shadow: none;
    position: absolute;
    right: -35px;
    top: 0;
    margin: 0;
    padding: 0;
}

.modal-light .modal-header {
    border-bottom: 0;
}

.reg-logo {
    max-width: 232px;
}

.modal-reg .line-gradient {
    margin-left: -7px;
    margin-right: -7px;
}

.reg-tab-wrap {
    text-transform: uppercase;
    font-size: 16px;
}

.reg-tab-wrap a {
    color: #000;
    padding-left: 0;
    padding-right: 0;
    margin-right: 22px;
    border-bottom: 1px solid transparent;
}

.reg-tab-wrap a:hover,
.reg-tab-wrap a.active {
    color: #e61e79;
    border-bottom-color: #e61e79;
}

.reg-tab-wrap a.active {
    font-weight: 600;
}

.reg-form-content {
    padding: 26px 0 0;
}

.main-form label {
    font-size: 14px;
    text-transform: uppercase;
}

.capcha-wrap {
    padding-top: 5px;
    padding-bottom: 5px;
}

.capcha {
    max-width: 362px;
    height: 92px;
    margin: 0 auto;
    background: #efefef;
}

.button.button-submit {
    font-size: 16px;
    padding: 12px 25px;
    border: 0;
    cursor: pointer;
}

.reg-btn-wrap {
    text-align: center;
}

.reg-btn-wrap .line-gradient {
    margin-top: 10px;
    margin-bottom: 22px;
}

.reg-note {
    font-size: 13px;
    margin-top: 22px;
}

/* custom select */
.bootstrap-select.select-color .btn-light,
.bootstrap-select.select-color .btn-light:hover,
.bootstrap-select.select-color .btn-light:not(:disabled):not(.disabled):active,
.bootstrap-select.select-color.show > .btn-light.dropdown-toggle {
    background-color: transparent;
    border-color: transparent;
    font-size: 14px;
}

.bootstrap-select.select-color .btn-light {
    color: #878787;
}

.bootstrap-select.select-color .show > .btn-light.dropdown-toggle:focus,
.bootstrap-select.select-color .btn-light.focus,
.bootstrap-select.select-color .btn-light:focus {
    box-shadow: none;
}

.bootstrap-select.select-color .btn-light {
    border: 0;
}

.bootstrap-select.select-color .dropdown-toggle:focus {
    outline: 0!important;
    outline-offset: 0;
}

.bootstrap-select.select-color .dropdown-menu {
    left: -1px !important;
}

.bootstrap-select.select-color .dropdown-item {
    padding-left: .75rem;
    padding-right: .75rem;
}

.bootstrap-select.select-color .dropdown-item-inner {
    font-size: 14px;
}

.bootstrap-select.btn-group.select-color .dropdown-toggle .filter-option {
    overflow: visible;
    padding-right: .75rem;
}

.bootstrap-select.select-color > .dropdown-toggle {
    padding-right: 30px;
}

.bootstrap-select.select-color .bs-caret {
    display: block;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: #8e2f8a;
    -webkit-gradient(linear, left top, left bottom, from(#e81e79), color-stop(50%, #be2681), to(#8e2f8a));
    background: -webkit-linear-gradient(top, #e81e79 0%, #be2681 50%, #8e2f8a 100%);
    background: linear-gradient(to bottom, #e81e79 0%, #be2681 50%, #8e2f8a 100%);
}

.bootstrap-select.select-color .dropdown-toggle::after {
    border-top: 9px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin: 0;
    vertical-align: baseline;
    position: absolute;
    right: 5px;
    top: 12px;
    z-index: 2;
}

.bootstrap-select.select-color.dropup .dropdown-toggle::after {
    border-top: 0;
    border-bottom: 9px solid #fff;
}

.bootstrap-select.select-color.select-arrow-gray .bs-caret {
    background: transparent;
}

.bootstrap-select.select-color.select-arrow-gray .dropdown-toggle::after {
    border-top: 4px solid #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    right: 12px;
    top: 15px;
}

.bootstrap-select.select-color.select-arrow-gray.dropup.show .dropdown-toggle::after {
    border-top: 0;
    border-bottom: 4px solid #333;
}

.select-color-wrap {
    display: inline-block;
    margin: 0 8px 16px 0;
}

/* select end*/

/* user dashboard */

.user-dashboard-wrap {
    margin: 7px 0;
    text-align: center;
    width: 100%;
    max-width: 366px;
    border-radius: 10px;
}

.user-dashboard {
    padding: 5px 12px;
}

.dashboard-title {
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.dashboard-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.dashboard-item {
    padding: 0 5px;
    color: #000;
    font-size: 11px;
    text-transform: uppercase;
}

.dashboard-item:hover {
    color: #000;
}

.dashboard-icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ea1e79;
    margin: 0 auto 5px;
    position: relative;
}

.dashboard-icon > img {
    height: 30px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.dashboard-icon::after {
    content: "";
    display: none;
    width: 8px;
    height: 8px;
    background: #ea1e79;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    bottom: -5px;
}

.dashboard-item.dashboard-ticket.active .dashboard-icon::after,
.dashboard-item.dashboard-ticket:hover .dashboard-icon::after {
    background: #d694c1;
}

.dashboard-item.dashboard-setting.active .dashboard-icon::after,
.dashboard-item.dashboard-setting:hover .dashboard-icon::after {
    background: #6e3590;
}

.dashboard-item.dashboard-exit.active .dashboard-icon::after,
.dashboard-item.dashboard-exit:hover .dashboard-icon::after {
    background: #17459f;
}

.dashboard-item.active .dashboard-icon::after,
.dashboard-item:hover .dashboard-icon::after {
    display: block;
}

.dashboard-text {
    display: block;
}

.dashboard-ticket .dashboard-icon {
    background-color: #d694c1;
}

.dashboard-setting .dashboard-icon {
    background-color: #6e3590;
}

.dashboard-exit .dashboard-icon {
    background-color: #17459f;
}

/* end user dashboard */

/* ticket */
.tickets-wrap {
    margin-top: 8px;
}

.row.ticket-row,
.ticket-column-inside {
    background: #f2f5f6;
}

.ticket-column {
    width: 49.7%;
    background: #fff;
    padding-bottom: 180px;
}

.ticket-column-left {
    margin-right: 4px;
}

.ticket-column-right {
    margin-left: 4px;
}

.ticket-header {
    background: #fff;
    padding: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 8px;
}

.ticket-header-left {
    padding-right: 5px;
}

.ticket-title, .preview-files-wrap {
    font-size: 30px;
    text-transform: uppercase;
}

.ticket-title.active,
.ticket-title .active,
.preview-files-wrap {
    color: #ea1e79;
}

.ticket-title a {
    color: inherit;
}

.close-ticket-wrap {
    margin-top: -15px;
    margin-bottom: -15px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.button.close-ticket,
.button.create-ticket,
.ticket-form-wrap .button-submit,
.ticket-comments-wrap .button-submit {
    box-shadow: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
}

.button.close-ticket {
    font-size: 22px;
}

.button.create-ticket,
.ticket-form-wrap .button-submit,
.ticket-comments-wrap .button-submit {
    font-size: 25px;
}

.create-ticket-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 28px 28px 20px;
    background: #fff;
}

.ticket-links {
    background: #fff;
}

.ticket-links a {
    display: block;
    padding: 16px 28px;
    font-size: 30px;
    line-height: 40px;
    font-weight: 300;
    text-transform: uppercase;
    color: #000;
    background: #f4eaf3;
    margin-bottom: 2px;
}

.ticket-links a:hover {
    color: #e91f79;
    background: #fde8f1;
    text-decoration: none;
}

.ticket-form-wrap {
    background: #fff;
    padding: 28px;
}

.ticket-form-wrap label {
    font-size: 30px;
    line-height: 1;
    position: relative;
    top: -5px;
    color: #ea1e79;
    text-transform: uppercase;
}

.ticket-form-wrap .form-group,
.ticket-comments-wrap .form-group {
    margin-bottom: 35px;
}

.ticket-form-wrap .color-frame {
    border-radius: 0;
}

.ticket-form-wrap .field {
    padding-left: 30px;
}

.ticket-form-wrap .btn-wrap,
.ticket-comments-wrap .btn-wrap {
    text-align: center;
}

.ticket-form-wrap .button-submit,
.ticket-comments-wrap .button-submit {
    display: inline-block;
    min-width: 208px;
}

.upload-field {
    position: relative;
}

.upload-inside {
    background: #f4eaf3;
}

.upload-inside textarea {
    outline: 0;
    padding-right: 30px;
    padding-bottom: 5px;
    height: 100px;
}

.ticket-form-wrap .upload-button-field,
.ticket-comments-wrap .upload-button-field {
    display: block;
    position: static;
    margin: 0;
    padding: 0;
}

.ticket-form-wrap .upload-button::before,
.ticket-comments-wrap .upload-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    right: 14px;
    width: 18px;
    height: 35px;
    background: url(../img/icons/clip.png);
    cursor: pointer;
}

.upload-text {
    font-size: 16px;
    color: #878787;
    text-transform: uppercase;
    padding: 6px 12px;
    text-align: center;
    min-height: 80px;
}

/*
.drop-area,
.upload-button-field {
    min-height: 107px;
}
*/
.drop-area #fileElem {
    display: none;
}

.preview-files-title {
    margin-bottom: 30px;
}

.preview-files {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -18px;
    margin-right: -18px;
}

.preview-files > span {
    display: block;
    overflow: hidden;
    width: 28.5%;
    height: 150px;
    background: #efefef;
    border: 1px solid #e12d83;
    margin: 0 18px 20px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.3);
}

.preview-files > span > img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.ticket-answer::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ea1e79;
    border-radius: 50%;
    vertical-align: text-top;
    margin-left: 5px;
}

.ticket-comments-wrap {
    background: #fff;
    padding: 28px 15px;
}

.ticket-comments-list {
    margin-bottom: 30px;
}

.ticket-comments-user {
    padding-left: 11.5vw;
}

.ticket-comments-support {
    padding-right: 11.5vw;
}

.ticket-comments-list .comment {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 3px;
    overflow-wrap: break-word;
}

.ticket-comments-user .comment {
    background: #fde8f1;
}

.ticket-comments-support .comment {
    background: #e7ecf5;
}

.ticket-comments-list h5 {
    line-height: 1;
    margin-bottom: 5px;
}

.ticket-comments-support h5 {
    color: #3257a8;
}

/* end ticket */

/* pay */
.pay-wrap {
    margin-top: 8px;
}

.pay-title {
    font-size: 30px;
    color: #ea1e79;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.pay-title-big {
    font: 80px/1 'BebasNeueRegular', sans-serif;
    margin-bottom: 30px;
}

.choose-wallet-menu {
    background: #fff;
    padding: 20px 28px 18px;
    margin-bottom: 8px;
}

.choose-wallet-menu .nav-link {
    width: 17.3%;
    opacity: 0.5;
}

.choose-wallet-menu .nav-link.active {
    opacity: 1;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.currency-balance-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    border-radius: 2px;
    background: url(../img/back.png);
    padding: 14px;
}

.currency {
    font-size: 20px;
    line-height: 1;
    border-radius: 3px;
    color: #fff;
    padding: 10px 5px;
    text-transform: uppercase;
    background: #8e2f8a;
    -webkit-gradient(linear, left top, left bottom, from(#e81e79), color-stop(50%, #be2681), to(#8e2f8a));
    background: -webkit-linear-gradient(top, #e81e79 0%, #be2681 50%, #8e2f8a 100%);
    background: linear-gradient(to bottom, #e81e79 0%, #be2681 50%, #8e2f8a 100%);
}

.currency-balance {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    padding: 0 0 0 14px;
}

.choose-wallet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.choose-wallet-column {
    width: 49.7%;
    background: #fff;
    padding: 16px 28px 25px;
}

.choose-wallet-left {
    margin-right: 8px;
}

.choose-wallet-menu .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.choose-wallet-left .btn-wrap {
    text-align: center;
}

.choose-wallet-left .button {
    font-size: 22px;
}

.balance-wallet-wrap {
    margin-bottom: 30px;
}

.balance-wallet {
    padding: 28px;
    text-align: center;
    background: url(../img/back.png);
}

.balance-wallet-sum {
    font: 100px/80px 'BebasNeueRegular', sans-serif;
    margin-bottom: 25px;
}

.balance-wallet-btn {
    font-size: 25px;
    text-transform: uppercase;
}

.balance-wallet-btn .button {
    min-width: 250px;
    font-size: 25px;
    padding-left: 12px;
    padding-right: 12px;
}

.balance-wallet-btn > span {
    display: inline-block;
}

.payment-form {
    padding: 26px 0 0 0;
}

.payment-form .pay-title {
    text-align: center;
}

.payment-form label {
    font-size: 18px;
    color: #000;
    text-align: right;
    margin: 0;
}

.pay-currency {
    position: relative;
}

.pay-currency .form-control {
    padding-right: 25px;.form-group
}

.pay-currency:after {
    font-size: 20px;
    line-height: 32px;
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
}

.pay-currency.pay-dollar::after {
    content: "$";
}
.pay-currency.pay-pound::after {
    content: "₤";
}

.payment-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: 300;
}

.payment-form ::-moz-placeholder { /* Firefox 19+ */
    font-weight: 300;
}

.payment-form :-ms-input-placeholder { /* IE 10+ */
    font-weight: 300;
}

.payment-form :-moz-placeholder { /* Firefox 18- */
    font-weight: 300;
}

.payment-form .form-group,
.payment-form .form-group .row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.exchange-rate {
    font-size: 16px;
    line-height: 1;
    color: #e2207a;
    text-align: right;
    margin: -8px 0 10px;
}

.payment-form .select-color-wrap {
    display: block;
    margin: 0;
}

.select-box-left {
    padding-right: 3px;
}

.select-box-right {
    padding-left: 3px;
}

.payment-method {
    padding: 25px 0 0;
}

.payment-method-item {
    margin-bottom: 32px;
}

.payment-method-item .radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.payment-method-label {
    display: block;
    position: relative;
    min-height: 50px;
    cursor: pointer;
}

.payment-method-label::after {
    content: '';
    display: block;
    width: 12px;
    height: 18px;
    background: url(../img/payment/payment-method-arrow.svg) no-repeat;
    background-size: 12px auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 3px;
    margin: auto 0;
}

.payment-method-label:hover::after,
.radio:checked + .payment-method-label::after {
    background-position-y: -19px;
}

.payment-method-logo {
    width: 50px;
    height: 50px;
    background: #8e2f8a;
    background: -webkit-gradient(linear, left top, left bottom, from(#e81e79), color-stop(50%, #be2681), to(#8e2f8a));
    background: -webkit-linear-gradient(top, #e81e79 0%, #be2681 50%, #8e2f8a 100%);
    background: linear-gradient(to bottom, #e81e79 0%, #be2681 50%, #8e2f8a 100%);
    left: 0;
    top: 0;
}

.payment-method-logo, .payment-method-logo span {
    border-radius: 50%;
    position: absolute;
}

.payment-method-logo span {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 22px;
    width: 46px;
    height: 46px;
    left: 2px;
    top: 2px;
}

.payment-method-label:hover .payment-method-logo,
.radio:checked + .payment-method-label .payment-method-logo {
    background: #e91e7a;
}

.payment-method-label:hover .payment-method-logo span,
.radio:checked + .payment-method-label .payment-method-logo span {
    background-color: #fff;
}

.payment-method-mastercard .payment-method-label span {
    background-image: url(../img/payment/mastercard.svg);
    background-size: 32px;
}

.payment-method-mastercard .payment-method-label:hover .payment-method-logo span,
.payment-method-mastercard .radio:checked + .payment-method-label .payment-method-logo span{
    background-image: url(../img/payment/mastercard-pink.svg);
}

.payment-method-yandex .payment-method-label span {
    background-image: url(../img/payment/yandex.svg);
}

.payment-method-yandex .payment-method-label:hover .payment-method-logo span,
.payment-method-yandex .radio:checked + .payment-method-label .payment-method-logo span {
    background-image: url(../img/payment/yandex-pink.svg);
}

.payment-method-webmoney .payment-method-label span {
    background-image: url(../img/payment/webmoney.svg);
}

.payment-method-webmoney .payment-method-label:hover .payment-method-logo span,
.payment-method-webmoney .radio:checked + .payment-method-label .payment-method-logo span {
    background-image: url(../img/payment/webmoney-pink.svg);
}

.payment-method-paypal .payment-method-label span {
    background-image: url(../img/payment/paypal.svg);
}

.payment-method-paypal .payment-method-label:hover .payment-method-logo span,
.payment-method-paypal .radio:checked + .payment-method-label .payment-method-logo span {
    background-image: url(../img/payment/paypal-pink.svg);
}

.payment-method-qiwi .payment-method-label span {
    background-image: url(../img/payment/qiwi.svg);
    background-size: 26px;
}

.payment-method-qiwi .payment-method-label:hover .payment-method-logo span,
.payment-method-qiwi .radio:checked + .payment-method-label .payment-method-logo span {
    background-image: url(../img/payment/qiwi-pink.svg);
}

.payment-method-epayments .payment-method-label span {
    background-image: url(../img/payment/epay.svg);
    background-size: 26px;
}

.payment-method-epayments .payment-method-label:hover .payment-method-logo span,
.payment-method-epayments .radio:checked + .payment-method-label .payment-method-logo span {
    background-image: url(../img/payment/epay-pink.svg);
}

.payment-method-inside {
    font-size: 18px;
    letter-spacing: -0.5px;
    padding: 6px 18px 6px 70px;
    color: #000;
    min-height: 50px;
}

.payment-method-text-small {
    font-size: 12px;
    color: #878787;
}

.payment-method-label:hover .payment-method-inside,
.payment-method-label:hover .payment-method-text-small,
.radio:checked + .payment-method-label .payment-method-inside,
.radio:checked + .payment-method-label .payment-method-text-small {
    color: #e91e7a;
}

.payment-form .btn-wrap {
    text-align: center;
    margin-top: 35px;
}

.payment-logo {
    max-width: 160px;
}

.payment-logo img {
    width: 100%;
}

.payment-form .pay-title {
    margin-bottom: 32px;
}

/* form disabled */
.payment-systems.payment-disabled .radio:not(:checked) + label,
.form-fields.payment-disabled {
    opacity: 0.5;
}

.form-fields.payment-disabled .form-control:disabled {
    background: #fff;
}

/* end form disabled */

    /* end pay */

.table-color-wrap {
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(0,0,0,0.3);
    margin-bottom: 22px;
}

.table-color {
    width: 100%;
    text-align: center;
    margin: 0;
}

.table-color thead {
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
}

.table-color th {
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    background: #f2f5f6;
}

.table-color th,
.table-color td {
    border: 1px solid;
    padding: 14px 5px;
}

.table-color th {
    border-color: #b3b4b5;
}

.table-color td {
    font-size: 16px;
    font-weight: 300;
    border-color: #eb85b7;
}

.multy-form-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    counter-reset: item;
    margin: 0 0 3px;
}

.multy-form-menu li {
    position: relative;
}

.multy-form-menu li, .multy-link a {
    color: #000;
    font-size: 18px;
    line-height: 1;
}

.multy-form-menu li:before {
    content: counter(item);
    counter-increment: item;
    display: block;
    font-size: 14px;
    line-height: 16px;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    left: 12px;
    top: 5px;
    color: #000;
}

.multy-form-menu li.check:before {
    content: "";
    height: 12px;
    border: 0;
    border-radius: 0;
    background: url(../img/payment/check-pink.svg);
    background-size: 18px 12px;
    top: 10px;
}

.multy-link a {
    display: block;
    padding: 5px 16px 5px 38px;
    letter-spacing: -0.5px;
}

.multy-link.check a {
    color: #e91e7a;
}

.multy-link a:hover,
.multy-link a:focus {
    text-decoration: none;
}

.multy-tab {
    display: none;
}

.multy-progress-bar {
    width: 100%;
    height: 2px;
    background: #878787;
    position: relative;
}

.multy-progress-line {
    background: #ea1e7a;
    background: -webkit-linear-gradient(to right, #e81e79 0%, #be2681 50%, #8e2f8a 100%);
    background: linear-gradient(to right, #e81e79 0%, #be2681 50%, #8e2f8a 100%);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.payment-buttons-wrap {
    margin: 34px 0 30px;
    overflow: hidden;
}

.multy-button {
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    border: 0;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
}

.multy-button:focus {
    outline: 0;
}

.multy-button-submit {
    color: #fff;
    padding: 10px 20px 10px 28px;
    float: right;
}

.multy-button-submit:after, .multy-button-close:before {
    content: "";
    display: inline-block;
    position: relative;
}

.multy-button-submit:after {
    width: 16px;
    height: 16px;
    background: url(../img/payment/arrow-right-white.svg);
    background-size: 16px;
    margin-left: 10px;
    top: 1px;
}

.multy-button-submit:hover, .multy-button-submit:focus {
    background: #8e2f8a;
    background: -webkit-gradient(linear, left bottom, left top, from(#e81e79), color-stop(50%, #be2681), to(#8e2f8a));
    background: -webkit-linear-gradient(bottom, #e81e79 0%, #be2681 50%, #8e2f8a 100%);
    background: linear-gradient(to top, #e81e79 0%, #be2681 50%, #8e2f8a 100%);
}

.multy-button-transparent {
    color: #e91e7a;
    border: 1px solid #e91e7a;
    background: transparent;
    padding: 9px 28px;
    float: left;
}

.multy-button-close:before {
    width: 17px;
    height: 17px;
    background: url(../img/payment/close-pink.svg);
    background-size: 17px;
    top: 2px;
    margin-right: 10px;
}

.confirmation-wrap {
    padding: 0 15px;
    margin: 5px 0 50px;
}

.confirmation-line {
    border-bottom: 1px dashed #b7b7b7;
    font-size: 18px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.confirmation-line:last-child {
    border-bottom: 0;
}

.confirmation-left {
    padding-left: 36px;
}

.confirmation-right {
    font-size: 16px;
    padding-right: 36px;
    text-align: right;
}

.confirmation-left,
.confirmation-right {
    padding-top: 18px;
    padding-bottom: 18px;
}

.payment-result {
    border: 1px solid #e91e7a;
    border-radius: 2px;
    margin: 30px 0;
    padding: 15px 40px 15px 135px;
    position: relative;
}

.payment-result-icon {
    width: 50px;
    height: 50px;
    background: url(../img/payment/close-pink.svg) no-repeat center;
    background-size: 50px;
    position: absolute;
    left: 38px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.payment-result-text {
    font-size: 18px;
    line-height: 1.2;
    color: #e91e7a;
}

.payment-result.succes {
    border-color: #17459f;
}

.payment-result.succes .payment-result-icon {
    width: 65px;
    background-image: url(../img/payment/check-blue.svg);
    background-size: 65px;
    left: 32px;
}

.payment-result.succes .payment-result-text {
    color: #17459f;
}

@media (min-width: 1600px) {
    /* ticket */
    .row.ticket-row {
        margin-left: -32px;
        margin-right: -32px;
    }
    /* end ticket */

    /* pay */
    .pay-row {
        margin-left: -32px;
        margin-right: -32px;
    }

    .balance-wallet-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    /* end pay */
}

@media (max-width: 1599px) {
    /* pay */
    .pay-row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .currency-balance-wrap {
        padding: 10px;
    }

    .currency-balance {
        padding-left: 10px;
    }

    .choose-wallet-menu .nav-link {
        width: 18.5%;
    }

    .balance-wallet-btn > span {
        margin: 0 5px;
    }
    /* end pay */
}

@media (max-width: 1400px) {
    /* ticket */
    .ticket-title,
    .ticket-links a {
        font-size: 25px;
    }

    .ticket-form-wrap label {
        top: 0;
    }

    .ticket-header,
    .create-ticket-wrap,
    .ticket-form-wrap,
    .ticket-links a {
        padding-left: 15px;
        padding-right: 15px;
    }

    .button.create-ticket,
    .ticket-form-wrap .button-submit,
    .ticket-form-wrap label,
    .preview-files-title {
        font-size: 22px;
    }

    .ticket-form-wrap .field {
        padding-left: 15px;
    }

    .preview-files {
        margin-left: -12px;
        margin-right: -12px;
    }

    .preview-files > span {
        width: 150px;
        margin-left: 12px;
        margin-right: 12px;
    }

    /* end ticket */

    /* pay */
    .currency-balance > span {
        display: block;
    }

    .balance-wallet-btn .button {
        font-size: 22px;
    }

    .choose-wallet-column,
    .balance-wallet,
    .choose-wallet-menu {
        padding-left: 15px;
        padding-right: 15px;
    }

    .multy-link a {
        padding-left: 28px;
        padding-right: 10px;
    }

    .multy-form-menu li::before {
        left: 5px;
    }
    /* end pay */
}

@media (max-width: 1300px) {
    /* pay */
    .balance-wallet-btn > span {
        display: block;
        margin: 12px;
    }
    /* end pay */
}

@media (max-width: 1199px) {
    /* dashboard */
    .user-dashboard-wrap {
        max-width: 300px;
    }
    /* end dashboard */

    /* ticket */
    .ticket-form-wrap label {
        text-align: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .button.close-ticket,
    .button.create-ticket {
        font-size: 18px;
        padding-left: 12px;
        padding-right: 12px;
    }

    .create-ticket-wrap,
    .ticket-header {
        padding-top: 20px;
    }

    .ticket-header {
        padding-bottom: 20px;
    }

    .ticket-form-wrap .button-submit {
        font-size: 24px;
    }

    .ticket-title, .ticket-links a {
        font-size: 22px;
        line-height: 30px;
    }

    .ticket-answer::after {
        margin-top: 3px;
    }
    /* end ticket */

    /* payment */
    .pay-title {
        font-size: 22px;
    }

    .four-column th {
        width: 25%;
    }

    .multy-link a {
        font-size: 15px;
    }

    .confirmation-left, .confirmation-right {
        padding-left: 15px;
        padding-right: 15px;
    }

    .payment-result {
        padding-left: 100px;
        padding-right: 15px;
    }

    .payment-result-icon,
    .payment-result.succes .payment-result-icon {
        left: 25px;
    }

    .payment-result.succes .payment-result-icon {
        width: 60px;
        background-size: 60px;
    }
    /* end payment */
}

@media (min-width: 992px) {
    /* ticket */
    .row.ticket-row {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    /* end ticket */
}

@media (min-width: 992px) and (max-width: 1200px) {
/*pay*/
    .table-color th,
    .table-color td {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .table-color th {
        font-size: 16px;
    }

    .table-color td {
        font-size: 15px;
    }
/* end pay*/
}

@media (max-width: 991px) {
    /* dashboard */
    .user-dashboard-wrap.color-frame {
        padding: 0;
    }

    .user-dashboard {
        padding-left: 0;
        padding-right: 0;
    }

    .dashboard-title {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 12px;
        text-align: left;
    }
    /* end dashboard */

    /* ticket */
    .ticket-column {
        width: 100%;
        margin: 0 0 8px;
        padding-bottom: 0;
    }

    .ticket-links a:last-child {
        margin-bottom: 0;
    }
    /* end ticket */

    /* pay */
    .currency {
        font-size: 16px;
    }

    .currency-balance {
        font-size: 20px;
    }

    .choose-wallet-column,
    .choose-wallet {
        width: 100%;
    }

    .choose-wallet {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .choose-wallet-left {
        margin-right: 0;
    }

    .balance-wallet-btn > span {
        display: inline-block;
    }

    .choose-wallet-menu .nav-link {
        width: 19%;
    }

    .multy-link a {
        font-size: 20px;
    }

    .multy-form-menu li::before {
        top: 7px;
    }
    /* end pay */
}

@media (max-width: 900px) {
/* pay */
    .pay-title {
        text-align: center;
    }

    .choose-wallet-menu .nav {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .choose-wallet-menu .nav-link {
        width: 30%;
        margin: 5px;
    }
/* end pay */
}

@media (max-width: 767px) {
    /* pay */
    .balance-wallet-btn > span {
        display: block;
    }

    .table-color th {
        font-size: 18px;
    }

    .payment-form label {
        text-align: left;
        margin-bottom: 6px;
    }

    .exchange-rate {
        margin-top: 0;
    }
    /* end pay */
}

@media (max-width: 600px) {
    .modal-light .close {
        color: #000;
        right: 10px;
        top: 10px;
    }

    /* ticket */
    .button.create-ticket {
        width: 100%;
    }

    .ticket-header {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .ticket-column-right .ticket-header > div {
        width: 100%;
    }

    .close-ticket-wrap {
        margin: 12px 0 0;
    }
    /* end ticket */

    /* pay */
    .choose-wallet-menu .nav-link {
        width: 100%;
    }

    .currency-balance > span {
        display: inline-block;
    }

    .table-color th {
        font-size: 16px;
    }

    .table-color td {
        font-size: 14px;
    }

    .multy-form-menu {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .multy-form-menu li {
        width: 49.5%;
        margin-bottom: 5px;
    }

    .multy-link a {
        font-size: 22px;
        padding-left: 40px;
    }

    .multy-form-menu li::before {
        width: 25px;
        height: 25px;
        font-size: 18px;
        line-height: 22px;
        top: 4px;
    }

    .multy-form-menu li.check::before {
        height: 18px;
        background-size: 25px;
        top: 7px;
    }

    .multy-progress-bar {
        background: #e91e7a;
    }

    .multy-progress-line {
        display: none;
    }

    /* end pay */
}

@media (max-width: 500px) {
    .multy-form-menu li {
        width: 100%;
    }

    .confirmation-line {
        font-size: 16px;
    }

    .confirmation-left {
        padding-left: 0;
        padding-right: 5px;
    }

    .confirmation-right {
        padding-left: 5px;
        padding-right: 0;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .select-color-wrap {
        display: block;
        margin-right: 0;
    }

    /* ticket */
    .ticket-column-left .ticket-header > div {
        width: 100%;
    }

    .ticket-column-left .ticket-header > div:first-child {
        margin-bottom: 12px;
    }
    /* end ticket */

    /* pay */
    .table-color th, .table-color td {
        font-size: 12px;
    }

    .table-color th, .table-color td {
        padding: 10px 3px;
    }

    .pay-title-big {
        font-size: 60px;
    }

    .payment-result {
        padding-left: 60px;
    }

    .payment-result-icon {
        width: 30px;
        height: 30px;
        background-size: 30px;
        left: 15px;
    }

    .payment-result-text {
        font-size: 15px;
    }

    .payment-result.succes .payment-result-icon {
        width: 40px;
        background-size: 40px;
        left: 10px;
    }
    /* end pay */
}

@media (max-width: 360px) {
    /* ticket */
    .preview-files {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .preview-files > span {
        width: 42%;
    }
    /* end ticket */

    .multy-button-transparent,
    .multy-button-submit {
        padding-left: 20px;
        padding-right: 20px;
    }
}